<div class="row no-gutter">
    {{ range $i, $e := (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
    {{ if .Params.mainimage }}
    {{ $iden := .Params.identifiant }}
    {{ $locations := index $.Site.Data.locations $iden }}
    {{ $nb := len $locations}}
    <div class="col-md-4 col-sm-6">
        <div class="franchise-box">
            <div class="image-holder {{with .Params.resume.gridholder}}{{.}}{{end}}">
                <a href="{{.Permalink}}"><img class="svg {{with .Params.resume.gridclass}}{{.}}{{end}}" src="{{.Params.logoc}}" /></a>
            </div>
            <!-- // holder  -->
            <p>{{.Params.resume.desc | markdownify }}</p>
            {{ if eq $.Lang "fr" }}
            <footer>
                <div class="tooltip">
                    <small><strong>À ce jour :</strong> {{.Params.details.nbre}} {{ if eq .Params.details.nbre 1 }}succursale{{ else }}succursales{{ end }}</small>
                    <div class="tooltiptext {{ if eq $nb 1 }}unique{{ end }}">
                        <div class="box">
                            <ul>
                                {{ range $locations }}
                                <li><strong>{{.city}}</strong></br>{{.loc}}</li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="{{.Permalink}}">En savoir plus</a>
            </footer>
            {{ else if eq $.Lang "en" }}
            <footer>
                <div class="tooltip">
                    <small data-toggle="tooltip" data-placement="top" title="<div class='tooltip-box'>Testing</div>" data-html="true"><strong>To this day:</strong> {{.Params.details.nbre}} {{ if eq .Params.details.nbre 1 }}location{{ else }}locations{{ end }}</small>
                    <div class="tooltiptext">
                        <div class="box">
                            <ul>
                                {{ range $locations }}
                                <li><strong>{{.city}}</strong></br>{{.loc}}</li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="{{.Permalink}}">More information</a>
            </footer>
            {{ end }}
        </div>
    </div>
    <!-- // frnachise box  -->
    {{ end }}
    {{ end }}

    <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.2s">
        <div class="franchise-box">
            {{ if eq .Lang "fr" }}
            <header>
                <h2>Franchise <br> à venir</h2>
            </header>
            <!-- // holder  -->
            <p>Guidé par son désir d'innover, le Groupe Blanchette - Maître Franchiseur est toujours à la recherche d'opportunités d’affaires novatrices, et déploie de constants efforts afin de développer de nouvelles franchises.</p>
            <footer class="different-box">
                <a href="{{.Site.BaseURL}}historique">En savoir plus</a>
            </footer>
            {{ else if eq .Lang "en" }}
            <header class='{{ if eq $.Lang "en" }}en{{end}}'>
                <h2>More franchises <br> to come</h2>
            </header>
            <!-- // holder  -->
            <p>Guided by his desire to innovate, the Group Blanchette - Master Franchisor is always seeking for unique business opportunities and rolls out constant efforts in order to to develop new franchises.</p>
            <footer class="different-box">
                <a href="{{.Site.BaseURL}}en/history">More information</a>
            </footer>
            {{ end }}
        </div>
    </div>
    <!-- // frnachise box  -->                                                                                                                                                             

</div>
<!-- // row  -->