{{ define "main" }}
<header id="mas-header">
            <!-- <div class="overlay"></div> -->
            {{ if getenv "IS_PROD" }}
            <script src="https://fast.wistia.com/embed/medias/2n3h0ox8fh.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_2n3h0ox8fh videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
            {{ end }}

            <div id="logos-holder">
                <div id="logos-slider">
                    {{ range $i, $e := (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
                    {{ if .Params.mainimage }}
                    <div class="item">
                        <div class="logo-box">
                            <a href="javascript:;" class="vid-click" id="{{.Params.identifiant}}">
                                <img src="{{.Params.logow}}" class="svg {{with .Params.resume.carouselclass}}{{.}}{{end}}" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- // item  -->
                    {{ end }}
                    {{ end }}
                </div>
                <!-- // logos slider  -->
            </div>
            <!-- // logos holder  -->

        </header>
        <!-- // mas header  -->

        <!-- <section id="about-block">
            <div class="container wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.2s">
                <article class="content">
                    {{ .Content }}
                </article>
                
            </div>
            
            <div class="image-holder premier wow fadeIn half-masonry" data-wow-duration="0.7s" data-wow-delay="0.4s" id="masonry-franchise">
                {{ if eq .Lang "fr" }}
                <a href="{{.Site.BaseURL}}franchises/shaker">
                {{ else if eq .Lang "en" }}
                <a href="{{.Site.BaseURL}}en/franchises/shaker">
                {{ end }}
                    <div class="mosaic-slider">
                        {{ range .Params.mshaker}}
                        <img src="{{.image}}" alt="Shaker" class="img-responsive">
                        {{ end }}
                    </div>
                </a>
            </div>
            
            <div class="image-holder wow fadeIn half-masonry" data-wow-duration="0.7s" data-wow-delay="0.4s" id="masonry-franchise">
                {{ if eq .Lang "fr" }}
                <a href="{{.Site.BaseURL}}franchises/la-ptite-grenouille">
                {{ else if eq .Lang "en" }}
                <a href="{{.Site.BaseURL}}en/franchises/the-little-frog">
                {{ end }}
                    <div class="mosaic-slider">
                        {{ range .Params.mgrenouille}}
                        <img src="{{.image}}" alt="La P'tite Grenouille" class="img-responsive">
                        {{ end }}
                    </div>
                </a>
            </div>
            
        </section>

        <section id="about-block">
            <div class="image-holder premier wow fadeIn half-masonry" data-wow-duration="0.7s" data-wow-delay="0.4s" id="masonry-franchise">
                {{ if eq .Lang "fr" }}
                <a href="{{.Site.BaseURL}}franchises/tartar-station">
                {{ else if eq .Lang "en" }}
                <a href="{{.Site.BaseURL}}en/franchises/tartar-station">
                {{ end }}
                    <div class="mosaic-slider">
                        {{ range .Params.mtartar}}
                        <img src="{{.image}}" alt="Tartar Station" class="img-responsive">
                        {{ end }}
                    </div>
                </a>
            </div>
            
            <div class="image-holder wow fadeIn half-masonry" data-wow-duration="0.7s" data-wow-delay="0.4s" id="masonry-franchise">
                {{ if eq .Lang "fr" }}
                <a href="{{.Site.BaseURL}}franchises/frits">
                {{ else if eq .Lang "en" }}
                <a href="{{.Site.BaseURL}}en/franchises/frits">
                {{ end }}
                    <div class="mosaic-slider">
                        {{ range .Params.mfrits}}
                        <img src="{{.image}}" alt="Frit's" class="img-responsive">
                        {{ end }}
                    </div>
                </a>
            </div>
            
        </section> -->
        

        <div id="masonry-franchise">
            <div class="container-fluidx">
                <div class="row no-gutter">
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.8s">
                        {{ if eq .Lang "fr" }}
                        <a href="{{.Site.BaseURL}}franchises/shaker">
                        {{ else if eq .Lang "en" }}
                        <a href="{{.Site.BaseURL}}en/franchises/shaker">
                        {{ end }}
                            <div class="mosaic-slider">
                                {{ range .Params.mshaker}}
                                <img src="{{.image}}" alt="Shaker" class="img-responsive">
                                {{ end }}
                            </div>
                        </a>
                    </div>                            
                   <div class="col-md-4 col-sm-6" data-wow-duration="0.4s" data-wow-delay="0.8s">
                        {{ if eq .Lang "fr" }}
                        <a href="{{.Site.BaseURL}}franchises/la-ptite-grenouille">
                        {{ else if eq .Lang "en" }}
                        <a href="{{.Site.BaseURL}}en/franchises/the-little-frog">
                        {{ end }}
                            <div class="mosaic-slider">
                                {{ range .Params.mgrenouille}}
                                <img src="{{.image}}" alt="La P'tite Grenouille" class="img-responsive">
                                {{ end }}
                            </div>                          
                        </a>                               
                   </div>
                   <!-- // col  -->
                   <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="1s">
                        {{ if eq .Lang "fr" }}
                        <a href="{{.Site.BaseURL}}franchises/tartar-station">
                        {{ else if eq .Lang "en" }}
                        <a href="{{.Site.BaseURL}}en/franchises/tartar-station">
                        {{ end }}
                            <div class="mosaic-slider">
                                {{ range .Params.mtartar}}
                                <img src="{{.image}}" alt="Tartar Station" class="img-responsive">
                                {{ end }}
                            </div>                          
                        </a>  
                    </div>                             
                </div>
				
				<div class="row no-gutter">
                    <div class="col-md-4 col-sm-6" data-wow-duration="0.4s" data-wow-delay="0.8s">
                        {{ if eq .Lang "fr" }}
                        <a href="{{.Site.BaseURL}}franchises/frits">
                        {{ else if eq .Lang "en" }}
                        <a href="{{.Site.BaseURL}}en/franchises/frits">
                        {{ end }}
                            <div class="mosaic-slider">
                                {{ range .Params.mfrits}}
                                <img src="{{.image}}" alt="Frit's" class="img-responsive">
                                {{ end }}
                            </div>                          
                        </a>                               
                   </div>
					<div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.8s">
                        {{ if eq .Lang "fr" }}
                        <a href="{{.Site.BaseURL}}franchises/mexicanos">
                        {{ else if eq .Lang "en" }}
                        <a href="{{.Site.BaseURL}}en/franchises/mexicanos">
                        {{ end }}
                            <div class="mosaic-slider">
                                {{ range .Params.mhola}}
                                <img src="{{.image}}" alt="Mexicanos" class="img-responsive">
                                {{ end }}
                            </div>
                        </a>
                    </div>                            
                   <!-- // col  -->
                   <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="1s">
                        {{ if eq .Lang "fr" }}
                        <a href="{{.Site.BaseURL}}franchises/vaposhop">
                        {{ else if eq .Lang "en" }}
                        <a href="{{.Site.BaseURL}}en/franchises/vaposhop">
                        {{ end }}
                            <div class="mosaic-slider">
                                {{ range .Params.mvapo}}
                                <img src="{{.image}}" alt="Vaposhop" class="img-responsive">
                                {{ end }}
                            </div>                          
                        </a>  
                    </div>                             
                </div>
                <!-- // row  -->
            </div>
            <!-- // fluid  -->
        </div>
        <!-- // masonry  -->

        <div id="franchise-logos">
            <div class="container">
               {{- partial "site/grid.html" . -}}
            </div>
            <!-- // container  -->
        </div>
        <!-- // franchise  -->
{{ end }}