{{ define "main" }}
<div id="franchise-logos" class="franchises-list">

            <div class="container">
                {{ if eq .Lang "fr" }}
                <h1>Nos franchises</h1>
                {{ else if eq .Lang "en" }}
                <h1>Our franchises</h1>
                {{ end }}
                <div class="row no-gutter">
                    {{ range $i, $e := (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
                    {{ if .Params.mainimage }}
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.2s">
                        <div class="franchise-box">
                            <div class="image-holder">
                                <a href="{{.Permalink}}"><img class="svg {{with .Params.resume.gridclass}}{{.}}{{end}}" src="{{.Params.logoc}}" /></a>
                            </div>
                            <!-- // holder  -->
                            <p>{{.Params.resume.desc | markdownify }}</p>
                            {{ if eq $.Lang "fr" }}
                            <footer>
                                <small><strong>À ce jour :</strong> {{.Params.details.nbre}} {{ if eq .Params.details.nbre 1 }}succursale{{ else }}succursales{{ end }}</small>
                                <a href="{{.Permalink}}">En savoir plus</a>
                            </footer>
                            {{ else if eq $.Lang "en" }}
                            <footer>
                                <small><strong>To this day:</strong> {{.Params.details.nbre}} {{ if eq .Params.details.nbre 1 }}location{{ else }}locations{{ end }}</small>
                                <a href="{{.Permalink}}">More information</a>
                            </footer>
                            {{ end }}
                        </div>
                    </div>
                    <!-- // frnachise box  -->
                    {{ end }}
                    {{ end }}

                    <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.2s">
                        <div class="franchise-box">
                            {{ if eq .Lang "fr" }}
                            <header>
                                <h2>Franchise <br> à venir</h2>
                            </header>
                            <!-- // holder  -->
                            <p>Guidé par son désir d'innover, le Groupe Blanchette - Maître Franchiseur est toujours à la recherche d'opportunités d’affaires novatrices, et déploie de constants efforts afin de développer de nouvelles franchises.</p>
                            <footer>
                                <a href="{{.Site.BaseURL}}historique">En savoir plus</a>
                            </footer>
                            {{ else if eq .Lang "en" }}
                            <header>
                                <h2>More franchises <br> to come</h2>
                            </header>
                            <!-- // holder  -->
                            <p>Guided by his desire to innovate, the Group Blanchette - Master Franchisor is always seeking for unique business opportunities and rolls out constant efforts in order to to develop new franchises.</p>
                            <footer>
                                <a href="{{.Site.BaseURL}}en/history">More information</a>
                            </footer>
                            {{ end }}
                        </div>
                    </div>
                    <!-- // frnachise box  -->                                                                                                                                                             

               </div>
               <!-- // row  -->
            </div>
            <!-- // container  -->
        </div>
        <!-- // franchise  -->
{{ end }}
