{{ define "main" }}
<div id="franchise-logos" style="margin-top: 50px;">
            <div class="container">
               <div class="row no-gutter">
                    {{ range $i, $e := (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
                    {{ if .Params.mainimage }}
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.2s">
                        <div class="franchise-box">
                            <div class="image-holder">
                                <a href="{{.Permalink}}"><img class="svg {{with .Params.resume.gridclass}}{{.}}{{end}}" src="{{.Params.logoc}}" /></a>
                            </div>
                            <!-- // holder  -->
                            <p>{{.Params.resume.desc | markdownify }}</p>
                            <footer>
                                <small><strong>Investissement :</strong> {{.Params.details.investissement}}</small>
                                <a href="{{.Permalink}}">En savoir plus</a>
                            </footer>
                        </div>
                    </div>
                    <!-- // frnachise box  -->
                    {{ end }}
                    {{ end }}

                    <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.2s">
                        <div class="franchise-box">
                            <header>
                                <h4>Franchise <br> a venir</h4>
                            </header>
                            <!-- // holder  -->
                            <p>Guidé par son désir d'innover, le Groupe Blanchette - Maître Franchiseur est toujours à la recherche d'opportunités d’affaires novatrices, et déploie de constants efforts afin de développer de nouvelles franchises.</p>
                            <footer>
                                <a href="/historique">En savoir plus</a>
                            </footer>
                        </div>
                    </div>
                    <!-- // frnachise box  -->                                                                                                                                                             

               </div>
               <!-- // row  -->
            </div>
            <!-- // container  -->
        </div>
        <!-- // franchise  -->
{{ end }}
