{{ define "main" }}
<div id="page-wrapper" class="franchise-details-page">
            <div class="container">

                <div id="bradcrumb-wrapper">
                    <ul>
                        <li><a href="#">Nos franchises</a></li>
                        <li><a href="#">{{.Params.resume.titre}}</a></li>
                    </ul>
                </div>
                <!-- // breadcrumb  -->

                <div class="row">
                    
                    <div class="col-md-7 col-sm-6">
                        <div id="main-content">
                            <header>
                                <img src="{{.Params.mainimage}}" alt="" class="img-responsive">
                            </header>
                            {{ with .Params.imagedesc}}
                            <div class="intro">
                                <p>{{.}}</p>
                            </div>
                            {{ end }}
                            <!-- // intro  -->
                            {{ .Content }}
                            {{ with .Params.coupdecoeur}}
                            <div class="coupdecoeur" style="background-color: rgba({{string .couleur}})">
                                {{.texte | markdownify }}
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    <!-- // main content  -->

                    <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                        <aside id="side-details">
                            
                            <a href="{{.Site.BaseURL}}devenir-franchise?franchise={{.Params.identifiant}}" class="form-dload">Formulaire de <span>demande d’informations</span> <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>

                            <div id="brand-holder">
                                <a href="{{.Site.BaseURL}}devenir-franchise?franchise={{.Params.identifiant}}">
                                    <div class='{{ if .Params.whitebg }}white-bg{{ end }}' {{ if .Params.colorbg }}style="background-color: {{.Params.colorforbg}}"{{ end }}>
                                        {{ if .Params.colorbg }}
                                          {{ if .Params.colorlogo}}
                                            <img class="svg" src="{{.Params.logoc}}" style="max-height: 240px" />
                                          {{ else }}
                                            <img class="svg" src="{{.Params.logow}}" style="max-height: 240px"/>
                                          {{ end }}
                                        {{ else if .Params.whitebg}}
                                        <img class="svg" src="{{.Params.logoc}}" style="max-height: 240px" />
                                        {{ else }}
                                        <img class="svg" src="{{.Params.logoc}}"/>
                                        {{ end }}
                                    </div>
                                </a>
                            </div>
                            <!-- // brand holder  -->

                            <div id="about-block-aside">
                                <h6>L’entreprise</h6>
                                <p>{{.Params.business}}</p>
                            </div>
                            <!-- // about  -->

                            <div id="offer-details">
                                <h6>Détails <span>de l’offre</span></h6>

                                <table width="100%">
                                    <tr>
                                        <td width="50%"><strong>Type</strong></td>
                                        <td width="50%">{{.Params.details.type}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Mise de fonds</strong></td>
                                        <td>{{.Params.details.misedefonds}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Frais de {{lower .Params.details.type}}</strong></td>
                                        <td>{{.Params.details.frais}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Investissement total estimé (avant taxes)</strong></td>
                                        <td>{{.Params.details.investissement}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Personne contact</strong></td>
                                        <td>{{.Params.details.contact}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Année de fondation</strong></td>
                                        <td>{{.Params.details.fondation}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Nombre de succursales(Corpo & franchises)</strong></td>
                                        <td>{{.Params.details.nbre}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Royautés</strong></td>
                                        <td>{{.Params.details.royautes}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Frais publicitaires</strong></td>
                                        <td>{{.Params.details.pub}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Redevances totales</strong></td>
                                        <td>{{.Params.details.redevances}}</td>
                                    </tr>
                                    {{ with .Params.details.autre }}
                                    <tr>
                                        <td><strong>Autres informations</strong></td>
                                        <td>{{.}}</td>
                                    </tr>
                                    {{ end }}
                                </table>

                            </div>
                            <!-- // offer details  -->

                            <a href="{{.Site.BaseURL}}devenir-franchise?franchise={{.Params.identifiant}}" class="form-dload">Formulaire de <span>demande d’informations</span> <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>

                            <div id="video-block">
                                <h6>Vidéo corporative</h6>
                                <div class="video-container">
                                    <iframe width="100%" src="https://www.youtube.com/embed/{{.Params.video}}?rel=0&amp;showinfo=0&autoplay=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                            <!-- // video block  -->

                            <div id="site-block">
                                <h6>Consultez le <span>site Web</span> :</h6>
                                <p><a href="{{.Params.website}}" target="_blank">{{.Params.website}}</a></p>
                            </div>
                            <!-- // site  -->

                        </aside>
                    </div>
                    <!-- //side details -->

                </div>
                <!-- // row  -->
            </div>
            <!-- // container  -->
        </div> 
        <!-- pagewrapper  -->

        <div id="">
            <a href="{{.Site.BaseURL}}devenir-franchise?franchise={{.Params.identifiant}}">
                <img src="{{.Params.ctaimage}}" alt="Devenir franchise" style="display: block; width: 100%;">
            </a>
        </div>
        <!-- // bottom cta inner  -->
{{ end }}