<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 --><!-- Include all compiled plugins and libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> 
<script src="/js/custom-dist.js"></script>   
<script src="/js/jquery.vide.js"></script>
{{ if eq .Params.map.type "projets"}}
{{ with $.Site.Params.googleapikey }}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{.}}&callback=initMap">
    </script>
{{ end }}
{{ else if eq .Params.map.type "contact"}}
{{ with $.Site.Params.googleapikey }}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{.}}&callback=initContactMap">
    </script>
{{ end }}
{{ else }}
{{ end }}
