<div class="main-menu-sidebar" id="menu">
    <a href="javascript:;" class="close-menu-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
    <nav id="sidebar-menu-wrapper">
        <div id="menu">
    
            <ul class="nav-links">
              {{ if eq .Lang "fr" }}
                <li><a href="{{.Site.BaseURL}}franchises">Nos franchises</a></li>
                <li><a href="{{.Site.BaseURL}}devenir-franchise">Devenir franchisé</a></li>
                <li><a href="{{.Site.BaseURL}}projets-developpement">Projets & développement</a></li>
                <li><a href="{{.Site.BaseURL}}historique">Notre histoire</a></li>
                <li><a href="{{.Site.BaseURL}}contact">Contact</a></li>
				<li><a href="https://emplois.groupeblanchette.com/">Carrières</a></li>
                <li><a href="https://grblanchette.gestock.ca/" target="_blank">Boutique</a></li>
              {{ else if eq .Lang "en" }}
                <li><a href="{{.Site.BaseURL}}en/franchises">Our Franchises</a></li>
                <li><a href="{{.Site.BaseURL}}en/become-a-franchisee">Become a Franchisee</a></li>
                <li><a href="{{.Site.BaseURL}}en/projects-development">Projects & Development</a></li>
                <li><a href="{{.Site.BaseURL}}en/history">Our Story</a></li>
                <li><a href="{{.Site.BaseURL}}en/contact">Contact</a></li>
				<li><a href="https://emplois.groupeblanchette.com/en/">Career</a></li>
                <li><a href="https://grblanchette.gestock.ca/" target="_blank">Store</a></li> 
              {{ end }}            
            </ul>
            <!-- // ul  -->

            <footer>
                <ul id="social-nav">
                    {{with .Site.Data.settings.socials.facebookurl}}
                    <li class="social-facebook"><a href="{{.}}" target="_blank"><span class="icon-facebook"></span></a></li>
                    {{ end }}
                    {{with .Site.Data.settings.socials.twitterurl}}
                    <li class="social-twitter"><a href="{{.}}" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    {{ end }}
                    {{with .Site.Data.settings.socials.googleplusurl}}
                    <li class="social-google"><a href="{{.}}" target="_blank"><span class="fa fa-google-plus"></span></a></li>
                    {{ end }}
                    {{with .Site.Data.settings.socials.pinteresturl}}
                    <li class="social-pinterest"><a href="{{.}}" target="_blank"><span class="fa fa-pinterest"></span></a></li>
                    {{ end }}
                    {{with .Site.Data.settings.socials.vimeourl}}
                    <li class="social-vimeo"><a href="{{.}}" target="_blank"><span class="fa fa-vimeo-square"></span></a></li>
                    {{ end }}
                    {{with .Site.Data.settings.socials.linkedinurl}}
                    <li class="social-linkedin"><a href="{{.}}" target="_blank"><span class="icon-linkedin"></span></a></li>
                    {{ end }}
                    {{with .Site.Data.settings.socials.dribbleurl}}
                    <li class="social-dribbble"><a href="{{.}}" target="_blank"><span class="fa fa-dribbble"></span></a></li>
                    {{ end }}
                    {{with .Site.Data.settings.socials.youtubeurl}}
                    <li class="social-youtube"><a href="{{.}}" target="_blank"><span class="icon-youtube"></span></a></li>
                    {{ end }}
                    {{with .Site.Data.settings.socials.rssurl}}
                    <li class="social-rss"><a href="{{.}}" target="_blank"><span class="fa fa-rss"></span></a></li>
                    {{ end }}
                </ul>                        
            </footer>

            <div id="lang-bar-mobile">
              {{ range .Translations }}
               <a href="{{.Permalink}}">{{ upper .Lang}}</a>
              {{ end }}
            </div>
        
        </div>
        <!-- // menu  -->
    </nav>
    <!-- // sidebar menu wrapper  -->
</div>
<!-- // main menu sidebar  -->        

<div id="sticky-bar" class="navbar-fixed-top">
    <div id="top-bar">
        <div class="container">
            <div id="top-nav">
                <ul id="sec-nav">
                  {{ if eq .Lang "fr" }}
                    <li><a href="{{.Site.BaseURL}}contact">Contact</a></li>
					<li><a href="https://emplois.groupeblanchette.com/">Carrières</a></li>
                  {{ else if eq .Lang "en" }}
                    <li><a href="{{.Site.BaseURL}}en/contact">Contact</a></li>
					<li><a href="https://emplois.groupeblanchette.com/en/">Career</a></li>
                  {{ end }}
                </ul>
                <ul id="social-nav">
                    {{with .Site.Data.settings.socials.facebookurl}}
										<li class="social-facebook"><a href="{{.}}" target="_blank"><span class="icon-facebook"></span></a></li>
										{{ end }}
										{{with .Site.Data.settings.socials.twitterurl}}
										<li class="social-twitter"><a href="{{.}}" target="_blank"><span class="fa fa-twitter"></span></a></li>
										{{ end }}
										{{with .Site.Data.settings.socials.googleplusurl}}
										<li class="social-google"><a href="{{.}}" target="_blank"><span class="fa fa-google-plus"></span></a></li>
										{{ end }}
										{{with .Site.Data.settings.socials.pinteresturl}}
										<li class="social-pinterest"><a href="{{.}}" target="_blank"><span class="fa fa-pinterest"></span></a></li>
										{{ end }}
										{{with .Site.Data.settings.socials.vimeourl}}
										<li class="social-vimeo"><a href="{{.}}" target="_blank"><span class="fa fa-vimeo-square"></span></a></li>
										{{ end }}
										{{with .Site.Data.settings.socials.linkedinurl}}
										<li class="social-linkedin"><a href="{{.}}" target="_blank"><span class="icon-linkedin"></span></a></li>
										{{ end }}
										{{with .Site.Data.settings.socials.dribbleurl}}
										<li class="social-dribbble"><a href="{{.}}" target="_blank"><span class="fa fa-dribbble"></span></a></li>
										{{ end }}
										{{with .Site.Data.settings.socials.youtubeurl}}
										<li class="social-youtube"><a href="{{.}}" target="_blank"><span class="icon-youtube"></span></a></li>
										{{ end }}
										{{with .Site.Data.settings.socials.rssurl}}
										<li class="social-rss"><a href="{{.}}" target="_blank"><span class="fa fa-rss"></span></a></li>
										{{ end }}
                </ul>
                <!-- // socials  -->
                <ul id="lang-nav">
                  {{ range .Translations }}
                   <li><a href="{{.Permalink}}">{{ upper .Lang}}</a></li>
                  {{ end }}
                </ul>
                <!-- // language  -->
            </div>
            <!-- // top nav  -->
        </div>
        <!-- // container  -->
    </div>
    <!-- // top bar -->

    <div id="main-bar">
        <div class="container">
            
          <div class="navbar navbar-default yamm">
              <div class="navbar-header">
                <a href='{{.Site.BaseURL}}{{ if eq .Lang "en" }}en{{end}}' class="navbar-brand"><img src="/img/logos/b-logo-white.svg" alt="" class="img-responsive" style="width: auto; height: 100%"></a>

                <div id="menu-btn-wrapepr" class="visible-xs">
                    <span class="menu-btn">
                        <a href="javascript:;">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </span>            
                </div>
                <!-- // wrapper  -->

              </div>
              <div id="navbar-collapse-grid" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  <!-- Grid 12 Menu -->
                  <li class='dropdown yamm-fw {{ if eq .Params.activemenu "franchise"}}activated{{end}}'><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ if eq .Lang "fr" }}Nos franchises{{ else if eq .Lang "en" }}Our Franchises{{ end }}</a>
                    <ul class="dropdown-menu animated fadeIn">
                      <li class="grid-demo">
                        <div class="row">
                          {{ range $i, $e := first 4 (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
                          <div class="col-sm-3">
                              <div class="logo-box">
                                  <a href="{{.Permalink}}" class="{{with .Params.resume.carouselclass}}{{.}}{{end}}"><img class="svg" src="{{.Params.logoc}}" /><span>{{.Params.resume.titre}} <i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                              </div>
                          </div>
                          <!-- // logo box  -->
                          {{ end }}                                                                    
                        </div>
                        <!-- // row  -->
                        <div class="row">
                          {{ range $i, $e := after 4 (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
                          {{ if .Params.mainimage }}
                          <div class="col-sm-3">
                              <div class="logo-box">
                                  <a href="{{.Permalink}}" class="{{with .Params.resume.carouselclass}}{{.}}{{end}}"><img class="svg" src="{{.Params.logoc}}" /><span>{{.Params.resume.titre}} <i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                              </div>
                          </div>
                          <!-- // logo box  -->
                          {{ end }}
                          {{ end }}                                                                    
                        </div>
                        <!-- // row  -->                          
                      </li>
                    </ul>
                  </li>
                  <!--With Offsets 
                  -->
                  {{ if eq .Lang "fr" }}
                  <li class='{{ if eq .Params.activemenu "devenir"}}activated{{end}}'><a href="{{.Site.BaseURL}}devenir-franchise">Devenir franchisé</a></li>
                  <li class='{{ if eq .Params.activemenu "projets"}}activated{{end}}'><a href="{{.Site.BaseURL}}projets-developpement">Projets & développement</a></li>
                  <li class='{{ if eq .Params.activemenu "historique"}}activated{{end}}'><a href="{{.Site.BaseURL}}historique">Notre histoire</a></li>
                  {{ else if eq .Lang "en" }}
                  <li class='{{ if eq .Params.activemenu "devenir"}}activated{{end}}'><a href="{{.Site.BaseURL}}en/become-a-franchisee">Become a Franchisee</a></li>
                  <li class='{{ if eq .Params.activemenu "projets"}}activated{{end}}'><a href="{{.Site.BaseURL}}en/projects-development">Projects & Development</a></li>
                  <li class='{{ if eq .Params.activemenu "historique"}}activated{{end}}'><a href="{{.Site.BaseURL}}en/history">Our Story</a></li>
                  {{ end }} 

                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- // menu  -->

        </div>
        <!-- // container  -->
    </div>
    <!-- // main bar  -->
</div>
<!-- sticky bar  -->
