<footer id="page-footer">
	  <div class="container">

	      <div id="brand-footer">
	          <div class="brand-box">
	              <img src="/img/logos/b-logo-white.svg" alt="" class="img-responsive" style="height: 100px;">                        
	              <div class="content">
	                  <p><a href="tel:+14186860069" class="tel-ico">418 686-0069</a></p>
	                  <p><a href="mailto:info@groupeblanchette.com" class="mail-ico">info@groupeblanchette.com</a></p>
	              </div>
	          </div>
	          <!-- // brand box  -->
	      </div>
	      <!-- // brand footer  -->

	      <div id="footer-area">
	          <div class="row">

	              <div class="col-md-4">
	                  <div class="sitemap-box">
	                  	{{ if eq .Lang "fr" }}
	                      <span class="title">Plan du site</span>
	                      <div class="content">
	                          <ul>
	                              <li><a href="{{.Site.BaseURL}}franchises">Nos franchises</a></li>
	                              <li><a href="{{.Site.BaseURL}}devenir-franchise">Devenir franchisé</a></li>
	                              <li><a href="{{.Site.BaseURL}}projets-developpement">Projets & développement</a></li>
	                              <li><a href="{{.Site.BaseURL}}historique">Notre histoire</a></li>
	                              <li><a href="{{.Site.BaseURL}}contact">Contact</a></li>
								  <li><a href="https://emplois.groupeblanchette.com/">Carrières</a></li>
	                              <li><a href="https://grblanchette.gestock.ca/" target="_blank">Boutique</a></li>
	                          </ul>
	                      </div>
	                      {{ else if eq .Lang "en" }}
	                      <span class="title">Site Map</span>
	                      <div class="content">
	                          <ul>
	                              <li><a href="{{.Site.BaseURL}}en/franchises">Our Franchises</a></li>
								                <li><a href="{{.Site.BaseURL}}en/become-a-franchisee">Become a Franchisee</a></li>
								                <li><a href="{{.Site.BaseURL}}en/projects-development">Projects & Development</a></li>
								                <li><a href="{{.Site.BaseURL}}en/history">Our Story</a></li>
								                <li><a href="{{.Site.BaseURL}}en/contact">Contact</a></li>
												<li><a href="https://emplois.groupeblanchette.com/en/">Career</a></li>
								                <li><a href="https://grblanchette.gestock.ca/" target="_blank">Store</a></li>
	                          </ul>
	                      </div>
	                      {{ end }}
	                      <!-- // content  -->
	                      <ul id="social-nav">
	                          {{with .Site.Data.settings.socials.facebookurl}}
														<li class="social-facebook"><a href="{{.}}" target="_blank"><span class="icon-facebook"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.twitterurl}}
														<li class="social-twitter"><a href="{{.}}" target="_blank"><span class="fa fa-twitter"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.googleplusurl}}
														<li class="social-google"><a href="{{.}}" target="_blank"><span class="fa fa-google-plus"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.pinteresturl}}
														<li class="social-pinterest"><a href="{{.}}" target="_blank"><span class="fa fa-pinterest"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.vimeourl}}
														<li class="social-vimeo"><a href="{{.}}" target="_blank"><span class="fa fa-vimeo-square"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.linkedinurl}}
														<li class="social-linkedin"><a href="{{.}}" target="_blank"><span class="icon-linkedin"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.dribbleurl}}
														<li class="social-dribbble"><a href="{{.}}" target="_blank"><span class="fa fa-dribbble"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.youtubeurl}}
														<li class="social-youtube"><a href="{{.}}" target="_blank"><span class="icon-youtube"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.rssurl}}
														<li class="social-rss"><a href="{{.}}" target="_blank"><span class="fa fa-rss"></span></a></li>
														{{ end }}
	                          <li><a href="mailto:{{.Site.Data.settings.email}}"><span class="icon-mailico"></span></a></li>
	                      </ul>                                
	                  </div>
	              </div>
	              <!-- // sitemap box  -->

	              <div class="col-md-8 hidden-xs">
	                  <div id="franchises-footer">
	                  	{{ if eq .Lang "fr" }}
	                      <span class="title">Visitez les sites Web respectifs de chacune des bannières</span>
	                    {{ else if eq .Lang "en" }}
	                    <span class="title">Visit each banner's respective websites</span>
	                    {{ end }}
	                      <div class="content">
			                      <div class="row">
			                      	{{ range $i, $e := first 4 (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="{{.Params.website}}" target="_blank"><img class="svg {{with .Params.resume.carouselclass}}{{.}}{{end}}" src="{{.Params.logow}}" /></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->
			                        {{ end }}
			                      </div>
			                      <!-- // row  -->   
			                      <div class="row">
			                        {{ range $i, $e := after 4 (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
			                        {{ if .Params.mainimage }}
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="{{.Params.website}}" target="_blank"><img class="svg {{with .Params.resume.carouselclass}}{{.}}{{end}}" src="{{.Params.logow}}" /></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->
			                        {{ end }}
			                        {{ end }}                                                                    
			                      </div>
			                      <!-- // row  -->                                                                 
	                      </div>
	                      <!-- // content  -->
	                  </div>
	              </div>
	              <!-- // logos  -->


	          </div>
	          <!-- // row  -->
	      </div>
	      <!-- // footer area  -->

	  </div>
	  <!-- // container  -->
</footer>
<!-- // page footer  -->

<div id="copy-bar">
  <div class="container">
      <img src="/img/logos/logo-blanchette.svg" alt="" style="width: 100%; max-width: 320px;">
      <small>&copy; 2019 Groupe Blanchette</small>
  </div>
  <!-- // container  -->
</div>
<!-- // copy bar  -->
