<footer id="page-footer">
	  <div class="container">

	      <div id="brand-footer">
	          <div class="brand-box">
	              <img src="/img/logos/b-logo-white.svg" alt="" class="img-responsive" style="height: 100px;">                        
	              <div class="content">
	                  <p><a href="#" class="tel-ico">418 686-0069</a></p>
	                  <p><a href="#" class="mail-ico">info@groupeblanchette.com</a></p>
	              </div>
	          </div>
	          <!-- // brand box  -->
	      </div>
	      <!-- // brand footer  -->

	      <div id="footer-area">
	          <div class="row">

	              <div class="col-md-4">
	                  <div class="sitemap-box">
	                      <span class="title">Plan du site</span>
	                      <div class="content">
	                          <ul>
	                              <li><a href="#">Nos franchises</a></li>
	                              <li><a href="#">Notre histoire</a></li>
	                              <li><a href="#">Devenir franchisé</a></li>
	                              <li><a href="#">Projets & développement</a></li>
	                              <li><a href="#">Contact</a></li>
	                              <li><a href="https://grblanchette.gestock.ca/" target="_blank">Boutique</a></li>
	                          </ul>
	                      </div>
	                      <!-- // content  -->
	                      <ul id="social-nav">
	                          {{with .Site.Data.settings.socials.facebookurl}}
														<li class="social-facebook"><a href="{{.}}"><span class="icon-facebook"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.twitterurl}}
														<li class="social-twitter"><a href="{{.}}"><span class="fa fa-twitter"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.googleplusurl}}
														<li class="social-google"><a href="{{.}}"><span class="fa fa-google-plus"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.pinteresturl}}
														<li class="social-pinterest"><a href="{{.}}"><span class="fa fa-pinterest"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.vimeourl}}
														<li class="social-vimeo"><a href="{{.}}"><span class="fa fa-vimeo-square"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.linkedinurl}}
														<li class="social-linkedin"><a href="{{.}}"><span class="icon-linkedin"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.dribbleurl}}
														<li class="social-dribbble"><a href="{{.}}"><span class="fa fa-dribbble"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.youtubeurl}}
														<li class="social-youtube"><a href="{{.}}"><span class="icon-youtube"></span></a></li>
														{{ end }}
														{{with .Site.Data.settings.socials.rssurl}}
														<li class="social-rss"><a href="{{.}}"><span class="fa fa-rss"></span></a></li>
														{{ end }}
	                          <li><a href="mailto:{{.Site.Data.settings.email}}"><span class="icon-mailico"></span></a></li>
	                      </ul>                                
	                  </div>
	              </div>
	              <!-- // sitemap box  -->

	              <div class="col-md-8 hidden-xs">
	                  <div id="franchises-footer">
	                      <span class="title">Visitez les site web respectifs de chacune des bannières</span>
	                      <div class="content">
			                      <div class="row">
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="https://shakercuisineetmixologie.com/" target="_blank"><img class="svg" src="/img/logos/shaker-logo-white.svg" /></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="http://www.chocolato.ca/" target="_blank"><img class="svg" src="/img/logos/chocolate-white.svg" /></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="https://www.laptitegrenouille.ca/" target="_blank"><img class="svg" src="/img/logos/ptiteGrenouille-white.svg" /></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="https://tartarstation.com/" target="_blank"><img class="svg tartar-logo" src="/img/logos/tartar-white-2.svg" /></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->                                                                    
			                      </div>
			                      <!-- // row  -->   
			                      <div class="row">
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="https://www.fritsburgerspoutines.com/" target="_blank"><img class="svg" src="/img/logos/frits-white.svg" /></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="https://www.holagrill.ca/" target="_blank"><img class="svg" src="/img/logos/hola-white-2.svg" /></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="https://www.vaposhop.fr/" target="_blank"><img src="/img/logos/vapo-white.svg" alt=""></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->
			                        <div class="col-sm-3">
			                            <div class="logo-box">
			                                <a href="https://planetenutrition.ca/" target="_blank"><img src="/img/logos/planete-white.svg" alt=""></a>
			                            </div>
			                        </div>
			                        <!-- // logo box  -->                                                                    
			                      </div>
			                      <!-- // row  -->                                                                 
	                      </div>
	                      <!-- // content  -->
	                  </div>
	              </div>
	              <!-- // logos  -->


	          </div>
	          <!-- // row  -->
	      </div>
	      <!-- // footer area  -->

	  </div>
	  <!-- // container  -->
</footer>
<!-- // page footer  -->

<div id="copy-bar">
  <div class="container">
      <img src="/img/logos/logo-blanchette.svg" alt="" style="width: 100%; max-width: 320px;">
      <small>&copy; 2017 Groupe Blanchette</small>
  </div>
  <!-- // container  -->
</div>
<!-- // copy bar  -->
