{{ define "main" }}
<div id="page-wrapper" class="process-page">

                <header id="inner-header">
                    <div class="container">
                        {{ if eq .Lang "fr" }}
                        <h1>FORMULAIRE DE DEMANDE ET PROCESSUS</h1>
                        <h3>Faites équipe avec des marques gagnantes !</h3>
                        {{ else if eq .Lang "en" }}
                        <h1>APPLICATION FORM AND PROCESS</h1>
                        <h3>Team up with winning brands!</h3>
                        {{ end }}
                    </div>
                </header>
                <!-- // inner  -->

            <div class="container">
                {{ range .Params.steps}}
                <div class="process-block">
                    <div class="process-box">
                        <span>{{.nb}}</span>
                        <div class="holder">
                            <h4>{{.line1}}</h4>
                            <p>{{.line2}}</p>
                        </div>
                        <!-- // holder  -->
                    </div>
                    <!-- // box  -->
                    <div class="clearfix"></div>
                </div>
                <!-- // process block  --> 
                {{ end }}

            </div>
            <!-- // container -->
            {{ if eq .Lang "fr" }}
            <form action="/merci" class="registration-form" method="post" name="devenir-franchise" netlify>
            {{ else if eq .Lang "en" }}
            <form action="/en/thank-you" class="registration-form" method="post" name="devenir-franchise-en" netlify>
            {{ end }}

            <div class="container">
                <div class="process-content">
                    
                    <header>
                        {{ if eq .Lang "fr" }}
                        <h4>Bannière(s) souhaitée(s)</h4>
                        <h5>Sélectionnez les bannières qui vous intéressent (maximum de 2 bannières).</h5>
                        {{ else if eq .Lang "en" }}
                        <h4>DESIRED BANNER(S)</h4>
                        <h5>Select the banners of interest (maximum of 2 banners).</h5>
                        {{ end }}
                    </header>

                    <div id="brand-logos">
                        <div class="row">
                            {{ range $i, $e := (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
                            {{ if .Params.mainimage }}
                              <div class="col-sm-3">
                                  <div class="logo-box" id="{{.Params.identifiant}}">
                                      <a href="javascript:;"><img class="svg" src="{{.Params.logoc}}" /></a>
                                  </div>
                              </div>
                            {{ end }}
                            {{ end }}
                        </div>
                        <!-- // row  -->                         
                    </div>
                    <!-- // brand logos  -->

                    <header>
                        {{ if eq .Lang "fr" }}
                        <h4>Renseignements personnels</h4>
                        {{ else if eq .Lang "en" }}
                        <h4>PERSONAL INFORMATION</h4>
                        {{ end }}
                    </header>

                    <div id="form-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ if eq .Lang "fr" }}
                                <h4>Devenir Franchisé</h4>
                                {{ else if eq .Lang "en" }}
                                <h4>Become a Franchisee</h4>
                                {{ end }}

                                {{ .Content }}
  
                                <div class="form-holder" id="form-start">
                                {{ if eq .Lang "fr" }}
                                  <label for=""><i class="fa fa-user-circle-o" aria-hidden="true"></i> Nom complet</label>
                                  <input type="text" name="nom" class="form-control">
                                  <label for=""><i class="fa fa-phone" aria-hidden="true"></i> Téléphone</label>
                                  <input type="tel" name="telephone" class="form-control">
                                  <label for=""><i class="fa fa-map-marker" aria-hidden="true"></i> Région et province</label>
                                  <div class="row select-row">
                                    <div class="col-sm-12">
 
                                        <select style="" id="province" name="province" class="select_region">
                                            <option value="Choisisez-une-province" id="Choisisez-une-province">Choisissez une province</option>
                                            <option value="alberta" id="alberta">Alberta</option>
                                            <option value="colombie-britannique" id="colombie-britannique">Colombie-Britannique/British Columbia</option>
                                            <option value="ile-du-prince-edouard" id="ile-du-prince-edouard">Île-du-Prince-Édouard/Prince Edward Island</option>
                                            <option value="manitoba" id="manitoba">Manitoba</option>
                                            <option value="nouveau-brunswick" id="nouveau-brunswick">Nouveau-Brunswick/New Brunswick</option>
                                            <option value="nouvelle-ecosse" id="nouvelle-ecosse">Nouvelle-Écosse/Nova Scotia</option>
                                            <option value="ontario" id="ontario">Ontario</option>
                                            <option value="quebec" id="quebec">Québec</option>
                                            <option value="terre-neuve-et-labrador" id="terre-neuve-et-labrador">Terre-Neuve-et-Labrador/Newfoundland and Labrador</option>
                                            <option value="saskatchewan" id="saskatchewan">Saskatchewan</option>
                                                
                                            
                                        </select>
                                                        
                                        <!-- ALBERTA -->
                                        <select style="display: none;" id="select_alberta" name="select_alberta" class="select_region">
                                            <option value="Choisisez-une-region" id="Choisisez-une-region">Choisissez une région</option>
                                            <option>Nord de l’Alberta/Northern Alberta</option>
                                            <option>Est de l’Alberta/East Alberta</option>
                                            <option>Les Badlands/Canadian Badlands</option>
                                            <option>Rocheuses Albertaines/Alberta’s Rockies</option>
                                            <option>Sud de l’Alberta/Southern Alberta</option>
                                            <option>Centre de l’Alberta/Central Alberta</option>
                                            <option>Région de Calgary/Calgary Region</option>
                                            <option>Région d’Edmonton/Edmonton Capital Region</option>                                      
                                        </select>
     
                                        <!-- COLOMBIE-BRITANNIQUE -->
                                        <select style="display:none;" id="select_colombie_britannique" name="select_colombie_britannique" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Choisissez une région</option>                                                                           
                                            <option>L’Intérieur/British Columbia Interior</option>
                                            <option>La Côte/British Columbia Coast</option>
                                            <option>Les Basses-terres continentales/Lower Mainland</option>
                                        </select>                   
                                        
                                        <!-- MANITOBA -->
                                        <select style="display:none;" id="select_manitoba" name="select_manitoba" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Choisissez une région</option>                                                               
                                            <option>Nord/Northern</option>
                                            <option>Entre-les-lacs/Interlake</option>
                                            <option>Plaines centrales/Central Plains</option>
                                            <option>Est/Eastman</option>
                                            <option>Ouest/Westman</option>
                                            <option>Région de Winnipeg/Winnipeg Capital Region</option>
                                            <option>Région des Parcs/Parkland</option>
                                        </select>                   
                                                        
                                        <!-- ONTARIO -->
                                        <select style="display:none;" id="select_ontario" name="select_ontario" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Choisissez une région</option>                                       
                                            <option>Nord de l’Ontario/Northern Ontario</option>
                                            <option>Sud de l’Ontario/Southern Ontario</option>                                  
                                        </select>                               
     
                                        <!-- QUÉBEC -->
                                        <select style="display:none;" id="select_quebec" name="select_quebec" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Choisissez une région</option>
                                            <option>Abitibi-Témiscamingue</option>
                                            <option>Bas-Saint-Laurent</option>
                                            <option>Capitale-Nationale</option>
                                            <option>Centre-du-Québec</option>
                                            <option>Chaudière-Appalaches</option>
                                            <option>Côte-Nord</option>
                                            <option>Estrie</option>
                                            <option>Gaspésie-Îles-de-la-Madeleine</option>
                                            <option>Lanaudière</option>
                                            <option>Laurentides</option>
                                            <option>Laval</option>
                                            <option>Mauricie</option>
                                            <option>Montérégie</option>
                                            <option>Montréal</option>
                                            <option>Nord-du-Québec</option>
                                            <option>Outaouais</option>
                                            <option>Saguenay-Lac-Saint-Jean</option>                                        
                                        </select>                               

                                        <!-- SASKATCHEWAN -->
                                        <select style="display:none;" id="select_saskatchewan" name="select_saskatchewan" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Choisissez une région</option>
                                            <option>Nord/Northern Saskatchewan</option>
                                            <option>Sud/Southern Saskatchewan</option>
                                        </select>                                           

                                        <br><span id="strErreurRegion" class="erreur"></span>
                                        
                                    </div>
                                  </div>
                                  <label for=""><i class="fa fa-envelope-o" aria-hidden="true"></i> Courriel</label>
                                  <input type="email" name="email">
                                  <input type="hidden" id="chosenbrands" name="franchises">
                                  <input type="submit" value="Envoyez >">
                                {{ else if eq .Lang "en" }}
                                  <label for=""><i class="fa fa-user-circle-o" aria-hidden="true"></i> Full name</label>
                                  <input type="text" name="nom" class="form-control">
                                  <label for=""><i class="fa fa-phone" aria-hidden="true"></i> Phone number</label>
                                  <input type="tel" name="telephone" class="form-control">
                                  <label for=""><i class="fa fa-map-marker" aria-hidden="true"></i> Region and Province</label>
                                  <div class="row">
                                    <div class="col-sm-12">
 
                                        <select style="" id="province" name="province" class="select_region">
                                            <option value="Choisisez-une-province" id="Choisisez-une-province">Select your province</option>
                                            <option value="alberta" id="alberta">Alberta</option>
                                            <option value="colombie-britannique" id="colombie-britannique">Colombie-Britannique/British Columbia</option>
                                            <option value="ile-du-prince-edouard" id="ile-du-prince-edouard">Île-du-Prince-Édouard/Prince Edward Island</option>
                                            <option value="manitoba" id="manitoba">Manitoba</option>
                                            <option value="nouveau-brunswick" id="nouveau-brunswick">Nouveau-Brunswick/New Brunswick</option>
                                            <option value="nouvelle-ecosse" id="nouvelle-ecosse">Nouvelle-Écosse/Nova Scotia</option>
                                            <option value="ontario" id="ontario">Ontario</option>
                                            <option value="quebec" id="quebec">Québec</option>
                                            <option value="terre-neuve-et-labrador" id="terre-neuve-et-labrador">Terre-Neuve-et-Labrador/Newfoundland and Labrador</option>
                                            <option value="saskatchewan" id="saskatchewan">Saskatchewan</option>
                                                
                                            
                                        </select>
                                                        
                                        <!-- ALBERTA -->
                                        <select style="display: none;" id="select_alberta" name="select_alberta" class="select_region">
                                            <option value="Choisisez-une-region" id="Choisisez-une-region">Select your region</option>
                                            <option>Nord de l’Alberta/Northern Alberta</option>
                                            <option>Est de l’Alberta/East Alberta</option>
                                            <option>Les Badlands/Canadian Badlands</option>
                                            <option>Rocheuses Albertaines/Alberta’s Rockies</option>
                                            <option>Sud de l’Alberta/Southern Alberta</option>
                                            <option>Centre de l’Alberta/Central Alberta</option>
                                            <option>Région de Calgary/Calgary Region</option>
                                            <option>Région d’Edmonton/Edmonton Capital Region</option>                                      
                                        </select>
     
                                        <!-- COLOMBIE-BRITANNIQUE -->
                                        <select style="display:none;" id="select_colombie_britannique" name="select_colombie_britannique" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Select your region</option>                                                                           
                                            <option>L’Intérieur/British Columbia Interior</option>
                                            <option>La Côte/British Columbia Coast</option>
                                            <option>Les Basses-terres continentales/Lower Mainland</option>
                                        </select>                   
                                        
                                        <!-- MANITOBA -->
                                        <select style="display:none;" id="select_manitoba" name="select_manitoba" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Select your region</option>                                                               
                                            <option>Nord/Northern</option>
                                            <option>Entre-les-lacs/Interlake</option>
                                            <option>Plaines centrales/Central Plains</option>
                                            <option>Est/Eastman</option>
                                            <option>Ouest/Westman</option>
                                            <option>Région de Winnipeg/Winnipeg Capital Region</option>
                                            <option>Région des Parcs/Parkland</option>
                                        </select>                   
                                                        
                                        <!-- ONTARIO -->
                                        <select style="display:none;" id="select_ontario" name="select_ontario" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Select your region</option>                                       
                                            <option>Nord de l’Ontario/Northern Ontario</option>
                                            <option>Sud de l’Ontario/Southern Ontario</option>                                  
                                        </select>                               
     
                                        <!-- QUÉBEC -->
                                        <select style="display:none;" id="select_quebec" name="select_quebec" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Select your region</option>
                                            <option>Abitibi-Témiscamingue</option>
                                            <option>Bas-Saint-Laurent</option>
                                            <option>Capitale-Nationale</option>
                                            <option>Centre-du-Québec</option>
                                            <option>Chaudière-Appalaches</option>
                                            <option>Côte-Nord</option>
                                            <option>Estrie</option>
                                            <option>Gaspésie-Îles-de-la-Madeleine</option>
                                            <option>Lanaudière</option>
                                            <option>Laurentides</option>
                                            <option>Laval</option>
                                            <option>Mauricie</option>
                                            <option>Montérégie</option>
                                            <option>Montréal</option>
                                            <option>Nord-du-Québec</option>
                                            <option>Outaouais</option>
                                            <option>Saguenay-Lac-Saint-Jean</option>                                        
                                        </select>                               

                                        <!-- SASKATCHEWAN -->
                                        <select style="display:none;" id="select_saskatchewan" name="select_saskatchewan" class="select_region">
                                            <option value="Choisisez une région" id="Choisisez-une-région">Select your region</option>
                                            <option>Nord/Northern Saskatchewan</option>
                                            <option>Sud/Southern Saskatchewan</option>
                                        </select>                                           

                                        <br><span id="strErreurRegion" class="erreur"></span>
                                        
                                    </div>
                                  </div>
                                  <label for=""><i class="fa fa-envelope-o" aria-hidden="true"></i> Email address</label>
                                  <input type="email" name="email">
                                  <input type="hidden" id="chosenbrands" name="franchises">
                                  <input type="submit" value="Send >">
                                {{ end }}

                                </div>
                                <!-- // form holder  -->
                               

                            </div>
                        </div>
                        <!-- // form  -->
                    </div>
                    <!-- // form wrapper  -->

                     </form>


                </div>
                <!-- //  content   -->                
            </div>

        </div> 
        <!-- pagewrapper  -->
{{ end }}