{{ define "main" }}
<div id="page-wrapper" class="process-page">

                <header id="inner-header">
                    <div class="container">
                        <h2>FORMULAIRE DE DEMANDE ET PROCESSUS</h2>
                        <h3>Faites équipe avec des marques gagnantes !</h3>
                    </div>
                </header>
                <!-- // inner  -->

            <div class="container">
                
                <div class="process-block">
                    <div class="process-box">
                        <span>1</span>
                        <div class="holder">
                            <h4>Sélectionnez la ou les bannière(s) de votre choix</h4>
                            <p>Choisissez un maximum de 2 bannières</p>
                        </div>
                        <!-- // holder  -->
                    </div>
                    <!-- // box  -->
                    <div class="clearfix"></div>
                </div>
                <!-- // process block  -->

                <div class="process-block">
                    <div class="process-box">
                        <span>2</span>
                        <div class="holder">
                            <h4>Remplissez le formulaire ici-bas</h4>
                            <p>Inscrivez les informations demandées dans les différents champs</p>
                        </div>
                        <!-- // holder  -->
                    </div>
                    <!-- // box  -->
                    <div class="clearfix"></div>
                </div>
                <!-- // process block  -->      

                <div class="process-block">
                    <div class="process-box">
                        <span>3</span>
                        <div class="holder">
                            <h4>Notre équipe analysera votre candidature</h4>
                            <p>Seuls les candidats retenus seront contactés</p>
                        </div>
                        <!-- // holder  -->
                    </div>
                    <!-- // box  -->
                    <div class="clearfix"></div>
                </div>
                <!-- // process block  -->    
                
                <div class="process-block">
                    <div class="process-box">
                        <span>4</span>
                        <div class="holder">
                            <h4>Premier contact</h4>
                            <p>Par téléphone ou en personne, une première rencontre sera planifiée</p>
                        </div>
                        <!-- // holder  -->
                    </div>
                    <!-- // box  -->
                    <div class="clearfix"></div>
                </div>
                <!-- // process block  -->     
                
                <div class="process-block">
                    <div class="process-box">
                        <span>5</span>
                        <div class="holder">
                            <h4>Début d’une nouvelle aventure!</h4>
                            <p>Votre projet prend forme et le processus débute</p>
                        </div>
                        <!-- // holder  -->
                    </div>
                    <!-- // box  -->
                    <div class="clearfix"></div>
                </div>
                <!-- // process block  -->    

            </div>
            <!-- // container -->

            <form action="/" class="registration-form" method="post">

            <div class="container">
                <div class="process-content">
                    
                    <header>
                        <h4>Bannière(s) souhaitée(s)</h4>
                        <h5>S'il vous plaît sélectionner la marque qui vous intéressent <a href="#">(maximum de 2 marques)</a>.</h5>
                    </header>

                    <div id="brand-logos">
                        <div class="row">
                            {{ range $i, $e := (sort (where $.Site.Pages "Type" "franchises") ".Params.ordre" "asce") }}
                            {{ if .Params.mainimage }}
                              <div class="col-sm-3">
                                  <div class="logo-box" id="{{.Params.identifiant}}">
                                      <a href="javascript:;"><img class="svg" src="{{.Params.logoc}}" /></a>
                                  </div>
                              </div>
                            {{ end }}
                            {{ end }}
                        </div>
                        <!-- // row  -->                         
                    </div>
                    <!-- // brand logos  -->

                    <header>
                        <h4>Renseignements personnels</h4>
                    </header>

                    <div id="form-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Devenir Franchisé</h4>

                                {{ .Content }}
  
                                <div class="form-holder" id="form-start">

                                  <label for=""><i class="fa fa-user-circle-o" aria-hidden="true"></i> Nom complet</label>
                                  <input type="text" name="nom" class="form-control">
                                  <label for=""><i class="fa fa-phone" aria-hidden="true"></i> Téléphone</label>
                                  <input type="tel" name="telephone" class="form-control">
                                  <label for=""><i class="fa fa-map-marker" aria-hidden="true"></i> Province et région</label>
                                  <div class="row">
                                    <div class="form-group col-sm-6">
                                      <input type="text" name="region" placeholder="Région">
                                    </div>
                                    <div class="form-group col-sm-6">
                                      <input type="text" name="province" placeholder="Province">
                                    </div>
                                  </div>
                                  <label for=""><i class="fa fa-envelope-o" aria-hidden="true"></i> Courriel</label>
                                  <input type="email" name="email">
                                  <input type="submit" value="Envoyez >">

                                </div>
                                <!-- // form holder  -->
                               

                            </div>
                        </div>
                        <!-- // form  -->
                    </div>
                    <!-- // form wrapper  -->

                     </form>


                </div>
                <!-- //  content   -->                
            </div>

        </div> 
        <!-- pagewrapper  -->
{{ end }}