{{ define "main" }}
 <div id="page-wrapper" class="history-page">

                <header id="inner-header">
                    <div class="container">
                        {{ if eq .Lang "fr" }}
                        <h1>NOTRE HISTOIRE</h1>
                        {{ else if eq .Lang "en" }}
                        <h1>OUR HISTORY</h1>
                        {{ end }}
                    </div>
                </header>
                <!-- // inner  -->

                <div id="featured-header-image">
                    <img src="/img/team/freres-blanchette-franchise.jpg" alt="" class="img-responsive">
                </div>                

            <div class="container">
                <div id="intro">
                    <p>{{.Params.imagedesc}} 
                    </br></br>{{.Params.imageordre}} </p>
                </div>
                <!-- // intro  -->
            </div>
            <div class="container-fluid">
                <!-- <img src="/img/misc/{{.Params.teamimage}}" alt="" class="img-responsive"> -->

                <section class="timeline">
                  <ol>
                    {{ range $i, $e := .Params.timeline}}
                    <li class="{{ if or (eq $i 1) (eq $i 4)}}timeopen{{ end }}">
                      <div>
                        <time>{{$e.date1}}{{ with $e.date2}}-<br>{{.}}{{end}}</time>
                        <a href="javascript:void(0)" class="open-timeline"><img src="{{$e.logo}}" alt=""></a>
                        <p class="text">{{$e.text}}</p>
                      </div>
                    </li>
                    {{ end }}
                    <li></li>
                  </ol>
                  
                  <div class="arrows">
                    <button class="arrow arrow__prev disabled" disabled>
                      <img src="/img/ico/arrow-left-green.svg" alt="prev timeline arrow">
                    </button>
                    <button class="arrow arrow__next">
                      <img src="/img/ico/arrow-right-green.svg" alt="next timeline arrow">
                    </button>
                  </div>
                </section>

                <section class="wrapup">
                    {{ if eq .Lang "fr" }}
                    <h5>À ce jour...</h5>
                    {{ else if eq .Lang "en" }}
                    <h5>To this day...</h5>
                    {{ end }}
                    <div class="box">
                        <ul>
                            {{ range .Params.wrapup }}
                            <li><p>{{.nbre}}</p><br><span>{{.ligne1}}</span><br><span class="small">{{.ligne2}}</span></li>
                            {{ end }}
                        </ul>
                    </div>
                </section>


            </div>
            <div class="container">
                <div id="history">
                    {{.Content}}
                </div>
								
                <div id="team-listing">

				{{ range $i, $e := sort $.Site.Data.equipe.blanchette "ordre" "asce"}}
					{{ $mod1 := modBool $i 1}}
					{{ $mod2 := modBool $i 2}}
					{{ $mod3 := modBool $i 3}}
					<div class="team-block row {{if $mod2}}{{else}}even{{end}}">
                        <div class="image-holder col-sm-6 {{if $mod2}}{{else}}col-sm-push-6{{end}}">
                            {{ if eq $.Lang "fr" }}
                            <img src="/img/team/{{$e.photo}}" alt="{{$e.nom}}" class="img-responsive">
                            {{ else if eq $.Lang "en" }}
                            <img src="/img/team/{{$e.photo}}" alt="{{$e.name}}" class="img-responsive">
                            {{ end }}
                        </div>
                        <!-- // image holder  -->
                        <div class="content col-sm-6 {{if $mod2}}{{else}}col-sm-pull-6{{end}}">
                            <div class="holder">
                                {{ if eq $.Lang "fr" }}
                                <h5>{{$e.nom}}</h5>
                                <p>{{$e.description}}</p>
                                {{ else if eq $.Lang "en" }}
                                <h5>{{$e.name}}</h5>
                                <p>{{$e.descriptionen}}</p>
                                {{ end }}
                            </div>
                            <!-- // holder  -->
                        </div>
                        <!-- // content  -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- // team block  -->
				{{ end }}

                </div>
                <!-- // team listing  -->
				<div id="partner-listing">
					<p class="header">{{.Params.partnerdesc1}}</br>{{.Params.partnerdesc2}}</p>
                    <div class="row">
                        <div class="col-sm-6 match logo">
                            <div class="holder shaker">
                                <img src='/img/logos/shaker-reverse{{ if eq $.Lang "en" }}-en{{end}}.svg' alt="">
                            </div>
                        </div>
                        {{ range sort .Site.Data.equipe.shaker "ordre" "asce" }}
                        <div class="col-sm-6 match">
                            {{ if eq $.Lang "fr" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.description}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.description}}</p>
                            {{ else if eq $.Lang "en" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.descriptionen}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.descriptionen}}</p>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6 match logo">
                            <div class="holder chocfrits">
                                <img src="/img/logos/chocolate.svg" alt="">
                                <img src="/img/logos/frits.svg" alt="" class="frits-history">
                            </div>
                        </div>
                        {{ range sort .Site.Data.equipe.chocolato "ordre" "asce" }}
                        <div class="col-sm-6 match">
                            {{ if eq $.Lang "fr" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.description}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.description}}</p>
                            {{ else if eq $.Lang "en" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.descriptionen}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.descriptionen}}</p>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6 match logo">
                            <div class="holder grenouille">
                                <img src='/img/logos/ptiteGrenouille{{ if eq $.Lang "en" }}-en{{end}}.svg' alt="">
                            </div>
                        </div>
                        {{ range sort .Site.Data.equipe.grenouille "ordre" "asce" }}
                        <div class="col-sm-6 match">
                            {{ if eq $.Lang "fr" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.description}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.description}}</p>
                            {{ else if eq $.Lang "en" }}
                            <img src="/img/team/10-grenouille-jerome-en.jpg" alt="{{.nom}}, {{.descriptionen}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.descriptionen}}</p>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6 match-big logo">
                            <div class="holder">
                                <img src="/img/logos/tartar.svg" alt="">
                                <img src="/img/logos/vapshop.svg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 match-big people">
                        {{ range sort .Site.Data.equipe.tartar "ordre" "asce" }}
                        <div>
                            {{ if eq $.Lang "fr" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.description}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.description}}</p>
                            {{ else if eq $.Lang "en" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.descriptionen}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.descriptionen}}</p>
                            {{ end }}
                        </div>
                        {{ end }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 match logo">
                            <div class="holder blanchette">
                                <img src="/img/logos/logo-blanchette.svg" alt="">
                            </div>
                        </div>
                        {{ range sort .Site.Data.equipe.blancs "ordre" "asce" }}
                        <div class="col-sm-6 match">
                            {{ if eq $.Lang "fr" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.description}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.description}}</p>
                            {{ else if eq $.Lang "en" }}
                            <img src="/img/team/{{.photo}}" alt="{{.nom}}, {{.descriptionen}}" class="img-responsive">
                            <p class="title">{{.nom}} <a href="mailto:{{.email}}"><i class="fa fa-envelope"></i></a></p>
                            <p class="desc">{{.descriptionen}}</p>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
				</div>
            </div>
            <!-- // container  -->
        </div> 
        <!-- pagewrapper  -->

{{ end }}