{{ define "main" }}
 <div id="page-wrapper" class="history-page">

                <header id="inner-header">
                    <div class="container">
                        <h2>NOTRE HISTOIRE</h2>
                    </div>
                </header>
                <!-- // inner  -->

                <div id="featured-header-image">
                    <img src="/img/misc/team.jpg" alt="" class="img-responsive">
                </div>                

            <div class="container">
                <div id="intro">
                    <p>Avec plus de 860 restaurants, A&W est la deuxième plus grande chaîne à service rapide de hamburgers au Québec et au Canada et figure au premier rang au niveau de la croissance. </p>
                    <img src="/img/misc/history.jpg" alt="" class="img-responsive">
                </div>
                <!-- // intro  -->

                <div id="team-listing">


                    <div class="team-block">
                        <div class="image-holder">
                            <img src="/img/misc/teamsample.jpg" alt="" class="img-responsive">
                        </div>
                        <!-- // image holder  -->
                        <div class="content">
                            <div class="holder">
                                <h5>X Blanchette</h5>
                                <p>Notre plus grande force est sans contredit le soutien que nous apportons à nos franchisés. En bref, nous savons que nos franchisés exploitent d'excellents restaurants et nous réinvestissons constamment dans des ressources qui les habilitent et assurent leur succès dans leurs localités. Étant donné notre croissance actuelle et projetée, nous devons continuer de nous intégrer dans la collectivité de chacun des marchés que nous desservons.</p>
                            </div>
                            <!-- // holder  -->
                        </div>
                        <!-- // content  -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- // team block  -->

                    <div class="team-block">
                        <div class="image-holder">
                            <img src="/img/misc/teamsample.jpg" alt="" class="img-responsive">
                        </div>
                        <!-- // image holder  -->
                        <div class="content">
                            <div class="holder">
                                <h5>X Blanchette</h5>
                                <p>Notre plus grande force est sans contredit le soutien que nous apportons à nos franchisés. En bref, nous savons que nos franchisés exploitent d'excellents restaurants et nous réinvestissons constamment dans des ressources qui les habilitent et assurent leur succès dans leurs localités. Étant donné notre croissance actuelle et projetée, nous devons continuer de nous intégrer dans la collectivité de chacun des marchés que nous desservons.</p>
                            </div>
                            <!-- // holder  -->
                        </div>
                        <!-- // content  -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- // team block  -->


                    <div class="team-block">
                        <div class="image-holder">
                            <img src="/img/misc/teamsample.jpg" alt="" class="img-responsive">
                        </div>
                        <!-- // image holder  -->
                        <div class="content">
                            <div class="holder">
                                <h5>X Blanchette</h5>
                                <p>Notre plus grande force est sans contredit le soutien que nous apportons à nos franchisés. En bref, nous savons que nos franchisés exploitent d'excellents restaurants et nous réinvestissons constamment dans des ressources qui les habilitent et assurent leur succès dans leurs localités. Étant donné notre croissance actuelle et projetée, nous devons continuer de nous intégrer dans la collectivité de chacun des marchés que nous desservons.</p>
                            </div>
                            <!-- // holder  -->
                        </div>
                        <!-- // content  -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- // team block  -->


                    <div class="team-block">
                        <div class="image-holder">
                            <img src="/img/misc/teamsample.jpg" alt="" class="img-responsive">
                        </div>
                        <!-- // image holder  -->
                        <div class="content">
                            <div class="holder">
                                <h5>X Blanchette</h5>
                                <p>Notre plus grande force est sans contredit le soutien que nous apportons à nos franchisés. En bref, nous savons que nos franchisés exploitent d'excellents restaurants et nous réinvestissons constamment dans des ressources qui les habilitent et assurent leur succès dans leurs localités. Étant donné notre croissance actuelle et projetée, nous devons continuer de nous intégrer dans la collectivité de chacun des marchés que nous desservons.</p>
                            </div>
                            <!-- // holder  -->
                        </div>
                        <!-- // content  -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- // team block  -->


                    <div class="team-block">
                        <div class="image-holder">
                            <img src="/img/misc/teamsample.jpg" alt="" class="img-responsive">
                        </div>
                        <!-- // image holder  -->
                        <div class="content">
                            <div class="holder">
                                <h5>X Blanchette</h5>
                                <p>Notre plus grande force est sans contredit le soutien que nous apportons à nos franchisés. En bref, nous savons que nos franchisés exploitent d'excellents restaurants et nous réinvestissons constamment dans des ressources qui les habilitent et assurent leur succès dans leurs localités. Étant donné notre croissance actuelle et projetée, nous devons continuer de nous intégrer dans la collectivité de chacun des marchés que nous desservons.</p>
                            </div>
                            <!-- // holder  -->
                        </div>
                        <!-- // content  -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- // team block  -->


                    <div class="team-block">
                        <div class="image-holder">
                            <img src="/img/misc/teamsample.jpg" alt="" class="img-responsive">
                        </div>
                        <!-- // image holder  -->
                        <div class="content">
                            <div class="holder">
                                <h5>X Blanchette</h5>
                                <p>Notre plus grande force est sans contredit le soutien que nous apportons à nos franchisés. En bref, nous savons que nos franchisés exploitent d'excellents restaurants et nous réinvestissons constamment dans des ressources qui les habilitent et assurent leur succès dans leurs localités. Étant donné notre croissance actuelle et projetée, nous devons continuer de nous intégrer dans la collectivité de chacun des marchés que nous desservons.</p>
                            </div>
                            <!-- // holder  -->
                        </div>
                        <!-- // content  -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- // team block  -->
                                                  


                </div>
                <!-- // team listing  -->

            </div>
            <!-- // container  -->
        </div> 
        <!-- pagewrapper  -->

				<!-- {{ range $i, $e := sort $.Site.Data.equipe.equipe "ordre" "asce"}}
					{{ $mod1 := modBool $i 1}}
					{{ $mod2 := modBool $i 2}}
					{{ $mod3 := modBool $i 3}}
				{{ end }} -->
{{ end }}