{{ define "main" }}
 <div id="page-wrapper" class="history-page">

                <header id="inner-header">
                    <div class="container">
                        <h2>NOTRE HISTOIRE</h2>
                    </div>
                </header>
                <!-- // inner  -->

                <div id="featured-header-image">
                    <img src="/img/misc/team.jpg" alt="" class="img-responsive">
                </div>                

            <div class="container">
                <div id="intro">
                    <p>Les Blanchette, réunis au premier restaurant SHAKER Cuisine & Mixologie ; un projet marquant le début d'une ère nouvelle. C'est dans leur bureau adjacent à ce restaurant qu'ils se rencontrent chaque jour et travaillent ensemble pour faire avancer leurs projets communs. </br>De gauche à droite: </p>
                    <img src="/img/misc/history.jpg" alt="" class="img-responsive">
                </div>
                <!-- // intro  -->
                <div id="history" style="display: none;">
                	{{ .Content }}
                </div>
								
                <div id="team-listing">

									{{ range $i, $e := sort $.Site.Data.equipe.blanchette "ordre" "asce"}}
										{{ $mod1 := modBool $i 1}}
										{{ $mod2 := modBool $i 2}}
										{{ $mod3 := modBool $i 3}}
										<div class="team-block">
                        <div class="image-holder">
                            <img src="/img/team/{{$e.photo}}" alt="{{$e.nom}}" class="img-responsive">
                        </div>
                        <!-- // image holder  -->
                        <div class="content">
                            <div class="holder">
                                <h5>{{$e.nom}}</h5>
                                <p>{{$e.description}}</p>
                            </div>
                            <!-- // holder  -->
                        </div>
                        <!-- // content  -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- // team block  -->
									{{ end }}

                </div>
                <!-- // team listing  -->

            </div>
            <!-- // container  -->
        </div> 
        <!-- pagewrapper  -->

{{ end }}