{{ define "main" }}
{{ $mymonths := $.Site.Data.mois.mois }}
{{ $articles := (where $.Site.RegularPages "Type" "articles")}}
{{ $occasions := (where $articles ".Params.occasion" true)}}
{{ $occasionsnb := len $occasions }}
<div id="page-wrapper" class="projects-page">

                <header id="inner-header">
                    <div class="container">
                      {{ if eq .Lang "fr" }}
                        <h1>Projets & développement</h1>
                        <h3>Pour ne rien manquer des projets</h3>
                      {{ else if eq .Lang "en" }}
                        <h1>Projects & Development</h1>
                        <h3>To miss nothing of the projects</h3>
                      {{ end }}
                    </div>
                </header>
                <!-- // inner  -->
                
                <div id="map-block">
                  <div id="map"></div>
                  <div class="container">
                    <div class="intro">
                      <p>{{.Content}}</p>
                    </div>
                    <!-- // intro  -->
                  </div>
                </div>
                <!-- // map  -->

                <div id="filter-bar">
                  <div class="container">

                    <ul class="nav nav-tabs primary-tabs" role="tablist">
                        {{ if eq .Lang "fr" }}
                        <li role="presentation" class="active"><a href="#tous" aria-controls="home" role="tab" data-toggle="tab"><h6>Tous</h6></a><span>filtrer par :</span></li>
                        <li role="presentation" class="banners-tab"><a href="#brands" aria-controls="home" role="tab" data-toggle="tab"><small>Bannières</small></a></li>
                        <li role="presentation"><a href="#history" aria-controls="profile" role="tab" data-toggle="tab"><small>Historique du groupe</small></a></li>
                        <li role="presentation"><a href="#occasions" aria-controls="messages" role="tab" data-toggle="tab"><small>Occasions d’affaires</small></a></li>
                        {{ else if eq .Lang "en" }}
                        <li role="presentation" class="active"><a href="#tous" aria-controls="home" role="tab" data-toggle="tab"><h6>All</h6></a><span>filter by:</span></li>
                        <li role="presentation" class="banners-tab"><a href="#brands" aria-controls="home" role="tab" data-toggle="tab"><small>Banners</small></a></li>
                        <li role="presentation"><a href="#history" aria-controls="profile" role="tab" data-toggle="tab"><small>Group history </small></a></li>
                        <li role="presentation"><a href="#occasions" aria-controls="messages" role="tab" data-toggle="tab"><small>Business Opportunities</small></a></li>
                        {{ end }}

                    </ul>

                  </div>
                  <!-- // container  -->
                </div>
                <!-- // filter bar  -->

                <div class="container">
                  

                <div class="tab-content">

                  <div role="tabpanel" class="tab-pane fade in active" id="tous">


                            <div class="article-listing grid">
                              <!-- add sizing element for columnWidth -->
                              <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range $articles}}

                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}     

                            </div>
                            <!-- // listing   -->


                  </div>
                  <!-- // all  -->
          

                    <div role="tabpanel" class="tab-pane fade" id="brands">
                      
                    <div class="tabbable">
                        <ul class="nav nav-tabs brands-tabs">
                            <li class="active"><a href="#shaker"><img class="svg" src='/img/logos/shaker{{ if eq $.Lang "en" }}-en{{end}}.svg' /></a></li>
                            <li><a href="#chocolato"><img class="svg" src="/img/logos/chocolate.svg" /></a></li>
                            <li><a href="#grenouille"><img class="svg" src='/img/logos/ptiteGrenouille{{ if eq $.Lang "en" }}-en{{end}}.svg' /></a></li>
                            <li><a href="#tartar"><img class="svg" src="/img/logos/tartar.svg" /></a></li>
                            <li><a href="#frits"><img class="svg" src="/img/logos/frits.svg" /></a></li>
                            <li><a href="#hola"><img class="svg" src="/img/logos/hola.svg" /></a></li>
                            <li><a href="#vapo"><img class="svg vapo" src="/img/logos/vapshop.svg" /></a></li>
                            <li><a href="#planete"><img class="svg" src="/img/logos/planette.svg" /></a></li>
                            <li><a href="#autres" class="tab-autres">{{ if eq .Lang "fr" }}AUTRES{{ else if eq .Lang "en" }}OTHERS{{end}}</a></li>
                            <li class="closing"><a href="javascript:void(0)"><i class="fa fa-times"></i></a></li>
                        </ul>
                        <!-- // nav  -->
                        <div class="tab-content inner-tabs">

                            <div class="tab-pane fade active in" id="shaker">
                                
                              <div class="article-listing grid">
                              <!-- add sizing element for columnWidth -->
                              <div class="grid-sizer col-md-4 col-sm-6"></div>
                                {{ range where .Site.RegularPages "Section" "shaker"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // shaker  -->

                          <div class="tab-pane fade " id="chocolato">
                                
                              <div class="article-listing grid">
                                <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                  {{ range where .Site.RegularPages "Section" "chocolato"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // chocolato  -->


                          <div class="tab-pane fade " id="grenouille">
                                
                              <div class="article-listing grid">
                                <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range where .Site.RegularPages "Section" "grenouille"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}    

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // ptiteGrenouille  -->


                          <div class="tab-pane fade " id="tartar">
                                
                              <div class="article-listing grid">
                                <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range where .Site.RegularPages "Section" "tartar"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}    

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // tartar  -->       


                          <div class="tab-pane fade " id="frits">
                                
                              <div class="article-listing grid">
                                <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range where .Site.RegularPages "Section" "frits"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}    

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // frits  -->      


                          <div class="tab-pane fade " id="hola">
                                
                              <div class="article-listing grid">
                                <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range where .Site.RegularPages "Section" "hola"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}    

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // hola  -->       


                          <div class="tab-pane fade " id="planete">
                                
                              <div class="article-listing grid">
                                <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range where .Site.RegularPages "Section" "planete"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}    

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // planette  -->                                                                                                     


                          <div class="tab-pane fade " id="vapo">
                                
                              <div class="article-listing grid">
                                <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range where .Site.RegularPages "Section" "vapo"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}    

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // vapo  --> 

                            <div class="tab-pane fade " id="autres">
                                
                              <div class="article-listing grid">
                                <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range where .Site.RegularPages "Section" "autres"}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}    

                              </div>
                              <!-- // listing   -->

                            </div>
                            <!-- // vapo  -->   


                        </div>
                        <!-- // tab content  -->
                    </div>


                    </div>
                    <!-- // brands  -->

                    <div role="tabpanel" class="tab-pane fade" id="history">
                        <div class="row">

                            <div class="article-listing grid">
                              <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range $articles}}
                                {{ if .Params.historique }}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else}}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}
                                {{ end }}      

                            </div>
                            <!-- // listing   -->

                        </div>
                        <!-- // row  -->
                    </div>
                    <!-- // history  -->

                    <div role="tabpanel" class="tab-pane fade" id="occasions">
                        
                        <div class="row">
                          {{ if eq $occasionsnb 0}}
                            <div class="col-sm-12 texte-occasion">
                              {{ if eq .Lang "fr" }}
                              <p>Vous avez un projet à proposer au Groupe Blanchette ? Remplissez le formulaire <a href="{{.Site.BaseURL}}devenir-franchise">Devenir franchisé</a> pour soumettre votre idée.</br>Au plaisir !</p>
                              {{ else if eq .Lang "en" }}
                              <p>You want to suggest a project to the Groupe Blanchette ? Fill out the form <a href="{{.Site.BaseURL}}en/become-a-franchisee">Become a franchisee</a> to send us your idea.</br>We look forward to hearing from you! !</p>
                              {{ end }}
                            </div>
                          {{ else}}
                            <div class="article-listing grid">
                              <!-- add sizing element for columnWidth -->
                                <div class="grid-sizer col-md-4 col-sm-6"></div>

                                {{ range $occasions}}
                                  {{ if .Params.external.need }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Params.external.url}}" class="external-url" target="_blank">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Params.external.url}}" class="external-url" target="_blank">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <div class="outer-link"><a href="{{.Params.external.url}}" class="external-url" target="_blank" >{{ if eq .Lang "fr" }}La suite dans {{ else if eq .Lang "en" }}Read more in {{end}}{{.Params.external.presse}}</a></div>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ else }}
                                  <div class="grid-item col-md-4 col-sm-6">
                                      <div class="article-box">
                                          <div class="image-holder">
                                              <a href="{{.Permalink}}">
                                                  <img src="/quart{{.Params.image}}" alt="" class="img-responsive">
                                              </a>
                                          </div>
                                          <!-- // image holder  -->
                                          <div class="content">
                                              <h3><a href="{{.Permalink}}">{{- partial "site/article-adj.html" . -}}:</br>{{if .Params.list.title}}{{.Params.list.title}}{{else}}{{.Title}}{{end}}</a></h3>
                                              <p>{{ .Summary }}</p>
                                              <footer>
                                                  <a href="{{.Permalink}}" class="cta-btn">{{ if eq .Lang "fr" }}LIRE PLUS{{ else if eq .Lang "en" }}READ MORE{{end}}</a>
                                                  <small>{{ if eq $.Lang "fr" }}{{ index $mymonths .Date.Month }}{{ else if eq $.Lang "en" }}{{.Date.Month}}{{ end }} {{.Date.Year}} <!-- / <a href="#">0 commentaire</a> --></small>
                                              </footer>
                                          </div>
                                          <!-- // content  -->
                                      </div>
                                  </div>
                                  <!-- // article  -->
                                  {{ end }}
                                {{ end }}

                            </div>
                            <!-- // listing   -->
                            {{ end }}
                        </div>
                        <!-- // row  -->

                    </div>
                    <!-- // occasions  -->
                  </div>

                </div>
                <!-- // container -->

        </div> 
        <!-- pagewrapper  -->

{{ end }}