/*===================================
=            Base Colors            =
===================================*/

$white:#fff;
$black:#000;

/*=====  End of Base Colors  ======*/

/*=====================================
=            Custom colors            =
=====================================*/


$dark:#252525;
$gray:#666666;
$green:#6aaa6a;
$yellow:#d6ab47;

$main: $dark!default;

$opacity-bg: rgba(0,0,0,0.2);

/*=====  End of Custom colors  ======*/

/*====================================
=            Font Weights            =
====================================*/

$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

/*=====  End of Font Weights  ======*/

/*==================================
=            Font Sizes            =
==================================*/

$base-size: 16px;

/*=====  End of Font Sizes  ======*/
