/*====================================
=            History Page            =
====================================*/

.history-page {
	.container-fluid {
		margin-bottom: 60px;
		@include breakpoint(phone) {
			margin-bottom: 40px;
		}
	}
	font-size: 16px;
	@include breakpoint(laptop) {
		font-size: 15px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
	}
	@include breakpoint(phone) {
		font-size: 14px;
	}
	#intro {
		padding-top: 35px;
		// padding-bottom: 100px;
		@include breakpoint(laptop) {
			padding-top: 25px;
			// padding-bottom: 40px;
		}
		@include breakpoint(tablet) {
			padding-top: 25px;
			// padding-bottom: 40px;
		}
		@include breakpoint(phone) {
			padding-top: 25px;
			// padding-bottom: 40px;
		}
		p {
			margin-bottom: 60px;
			font-size: 1.250em;
			line-height: 1.5;
			color:$black;
			font-family: $font-main;
			font-weight: 700;
			font-style: italic;
			@include breakpoint(laptop) {
				margin-bottom: 50px;
			}
			@include breakpoint(tablet) {
				margin-bottom: 50px;
			}
			@include breakpoint(phone) {
				margin-bottom: 40px;
			}
		}
	}
	#history {
		h6 {
			font-size: 1.063em;
			color:$black;
			font-family: $font-main;
			font-weight: 700;
			margin: 25px 0px
		}
		h5 {
			font-size: 1.5em;
			color:$black;
			font-family: $font-main;
			font-weight: 700;
			text-align: center;
			margin-bottom: 35px;
			color: white;
			background-color: #393939;
			line-height: 3em;
			@include breakpoint(phone) {
				line-height: 1.5;
				background-color: white;
				color: black;
			}
		}
		p {
			line-height: 1.5;
    		font-size: 1.063em;
			margin-bottom: 25px;
		}
	}
}

#featured-header-image  {
	img {
		width: 100%;
		@include breakpoint(laptop) {
			height: 400px;
			object-fit: cover;
		}
		@include breakpoint(phone) {
			height: 200px;
			object-fit: cover;
		}
	}
}

/*=====  End of History Page  ======*/

/*================================
=            Listing             =
================================*/

#team-listing {
	font-size: 16px;
	@include breakpoint(tablet) {
		font-size: 14px;
	}
	.row {
		padding: 20px 0px;
		&.even {
			position: relative;
		}
		&:not(.even) {
			.content {
				padding-left: 7%;
				@include breakpoint(phone) {
					padding-left: 15px;
				}
			}
		}
		.content {
			@include breakpoint(phone) {
				padding: 20px 15px;
			}
			h5 {
				font-size: 1.063em;
				color:$black;
				font-family: $font-main;
				font-weight: 700;
				margin-bottom: 10px;
				line-height: 1.5;
			}
			p {
				line-height: 1.5;
				font-size: 1.063em;
			}
		}
		.image-holder {
			img {
				max-width: 107%;
				@include breakpoint(phone) {
					max-width: 100%;
				}
			}
		}
		.col-sm-pull-6 {
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex; /* or inline-flex */
		  -webkit-box-orient: horizontal;
		  -webkit-box-direction: normal;
		  -webkit-flex-flow: row nowrap;
		      -ms-flex-flow: row nowrap;
		          flex-flow: row nowrap; /* is default: columns along the main-axis (row) and no wrapping to next lines */
		  -webkit-box-align: end;
		  -webkit-align-items: flex-end;
		      -ms-flex-align: end;
		          align-items: flex-end; /* bottom */
			&.content {
				padding-right: 7%;
				@include breakpoint(phone) {
					padding-right: 15px
				}
			}
		}
		.col-sm-push-6 {
			img {
				margin-left: -7%;
				@include breakpoint(phone) {
					margin-left: 0;
				}
			}
		}
	}
		
}
#partner-listing {
	p.header {
		font-size: 1.2em;
		color:$black;
		font-family: $font-main;
		font-weight: 700;
		text-align: center;
		margin-bottom: 35px;
		color: white;
		background-color: #393939;
		line-height: 1.6em;
		padding: 0.7em;
		margin-top: 35px;
		@include breakpoint(phone) {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	.row {
		border-bottom: 1px solid #d2d2d2;
		.logo {
			.holder {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				text-align: center;
				margin: auto;
				@include breakpoint(phone) {
					position: relative;
					top: inherit;
					left: inherit;
					transform: inherit;
					width: 100%;
				}
				img {
					width: 100%;
					@include breakpoint(phone) {
						width: 70%;
					}
				}
			}
		}
		.col-sm-6 {
			padding: 40px;
			@include breakpoint(phone) {
				padding: 0 15px;
				margin-bottom: 20px;
			}
			p.title {
				font-family: $font-main;
				font-weight: 700;
				margin: 20px 0 10px;
				i {
					margin-left: 20px;
					color: black;
				}
			}
			p.desc {
				line-height: 1.5;
    			font-size: 1em;
			}
			&.logo {
				.holder {
					@include breakpoint(phone) {
						padding: 30px 0 10px;
					}
					img {
						&.frits-history {
							width: 80%; 
							margin-top: 30px;
							@include breakpoint(phone) {
								margin-top: 0;
							}
						}
					}
					&.blanchette {
						width: 80%;
						@include breakpoint(phone) {
							width: 95%;
						}
					}
					&.chocfrits {
						img {
							@include breakpoint(phone) {
								width: 44%;
								&:nth-child(1) {
									padding-right: 5%
								}
								&:nth-child(2) {
									padding-left: 5%;
								}
							}
						}
					}
					&.shaker {
						@include breakpoint(phone) {
							padding: 0;
							margin-bottom: -20px;
						}
					}
				}
			}
		}
		.col-sm-6.match-big {
			div {
				margin-bottom: 40px;
				@include breakpoint(phone) {
					margin-bottom: 0
				}
			}
			&.logo {
				.holder {
					img {
						width: 60%;
						margin-top: 20px;
						@include breakpoint(phone) {
							width: 44%;
							display: inline;
							margin: 0;
							&:nth-child(1) {
								padding-right: 5%
							}
							&:nth-child(2) {
								padding-left: 5%;
							}
						}
					}
				}
			}
		}
	}
}

/*=====  End of Listing   ======*/
