/*====================================
=            History Page            =
====================================*/

.history-page {
	.container-fluid {
		margin-bottom: 60px;
		@include breakpoint(phone) {
			margin-bottom: 40px;
		}
		*,
		*::before,
		*::after {
		  margin: 0;
		  padding: 0;
		  box-sizing: border-box;
		}

		button {
		  background: transparent;
		  border: none;
		  cursor: pointer;
		  outline: none;
		}


		/* .section SECTION
		–––––––––––––––––––––––––––––––––––––––––––––––––– */

		.section {
		  background: $green;
		  padding: 50px 0;
		}

		.section .container {
		  width: 90%;
		  max-width: 1200px;
		  margin: 0 auto;
		  text-align: center;
		}

		.section h1 {
		  font-size: 2.5rem;
		}

		.section h2 {
		  font-size: 1.3rem;
		}


		/* TIMELINE
		–––––––––––––––––––––––––––––––––––––––––––––––––– */

		.timeline {
			white-space: nowrap;
			overflow: hidden;
			ol {
				font-size: 0;
				width: 100vw;
				padding: 100px 0 100px;
				transition: all 0.5s;
				&.opened-btm {
					padding-bottom: 260px;
				}
				&.opened-top {
					padding-top: 300px;
				}
				li:not(.nav-item) {
					position: relative;
				    display: inline-block;
				    list-style-type: none;
				    width: 140px;
				    height: 1px;
				    background: black;
				    -webkit-transition: width 1s;
				    -moz-transition: width 1s;
				    -ms-transition: width 1s;
				    -o-transition: width 1s;
				    transition: width 1s;
				    &.crushed {
				    	width: 45px;
				    }
				    &.enlarged {
				    	width: 200px !important;
				    }
				    &:last-child {
				    	width: 280px;
				    }
				    &:not(:first-child) {
					    margin-left: 14px;
					}
					&:not(:last-child)::after {
					    content: '';
					    position: absolute;
					    top: 50%;
					    left: calc(100% + 1px);
					    bottom: 0;
					    width: 12px;
					    height: 12px;
					    transform: translateY(-50%);
					    border-radius: 50%;
					    background: $green;
					}
					&:nth-child(odd) {
						div.time-content {
						    top: -16px;
						    transform: translateY(-100%);
						    &::before {
							    top: 100%;
							    border-width: 8px 8px 0 0;
							    border-color: white transparent transparent transparent;
							}
						}
					}
					&:nth-child(even) {
						div.time-content {
						    top: calc(100% + 16px);
						    &::before {
							    top: -8px;
		  						border-width: 8px 0 0 8px;
		  						border-color: transparent transparent transparent white;
							}
						}
					}
					div.time-content {
					    position: absolute;
					    left: calc(100% + 7px);
					    width: 260px;
					    padding: 15px;
					    font-size: 1rem;
					    white-space: normal;
					    color: black;
					    background: white;
					    border-left: 1px solid black;
					  	p.text {
							max-height: 0;
							opacity: 0;
							-webkit-transition: 1s;
							-moz-transition: 1s;
							-ms-transition: 1s;
							-o-transition: 1s;
							transition: 1s;
							font-size: 0.8em;
							line-height: 1.4;
							@include breakpoint(phone) {
								opacity: 1;
								max-height: 300px;
							}
					    }
					    a.open-timeline {
					    	position: relative;
							img {
							  	width: auto;
							  	max-height: 50px;
							  	margin-bottom: 10px;
							  	max-width: 80px;
						    }
						    &:after {
								display: inline-block;
							    font: normal normal normal 14px/1 FontAwesome;
							    font-size: inherit;
							    text-rendering: auto;
							    -webkit-font-smoothing: antialiased;
							    -moz-osx-font-smoothing: grayscale;
							    -webkit-transform: translate(0, 0);
							    -ms-transform: translate(0, 0);
							    transform: translate(0, 0);
							    font-size: 0.8em;
							    color: $green;
							    content: '\f0d7';
							    margin-left: 3px;
							    position: absolute;
							    top: 0%;
							    transform: translate(0, -50%);
							    z-index: 10;
							}
							&.proche {
								&:after {
									margin-left: -7px;
								}
							}
					    }
					    &.opened {
						  	p.text {
						  		opacity: 1;
						  		max-height: 300px;
						  	}
						  	a.open-timeline {
						  		&:after {
						  			content: "\f0d8";
						  		}
						  	}
					    }
					    &::before {
							content: '';
							position: absolute;
							top: 100%;
							left: 0;
							width: 0;
							height: 0;
							border-style: solid;
						}
					}
				}
			}
			time {
			    display: block;
			    font-size: 1.5rem;
			    font-weight: bold;
			    margin-bottom: 8px;
			    color: $green;
			    font-family: $font-heading;
			}
			.arrows {
			    display: flex;
			    justify-content: center;
			    margin: 30px 0 20px;
			    z-index: 90;
			    .arrow__prev {
				    margin-right: 20px;
				    z-index: 90;
				}
				.arrow__next {
				    z-index: 90;
				}
				img {
				    width: 45px;
				    height: 45px;
				}
			}
			.disabled {
			    opacity: .5;
			}
		}

		@media screen and (min-width: 768px) {
			.timeline {
				time {
					margin-bottom: -19px;
					margin-left: -70px;	
				}
				ol li:nth-child(even) div {
					time {
						position: absolute;
						bottom: 34px;
					}
				}
			}
		}

		/* GENERAL MEDIA QUERIES
		–––––––––––––––––––––––––––––––––––––––––––––––––– */
		@include breakpoint(phone) {

			.timeline {
				ol {
					width: auto;
					padding: 0;
					transform: none !important;
					li:not(.nav-item) {
						width: auto;
						display: block;
						height: auto;
						background: transparent;
						&.crushed {
					    	width: auto;
					    }
					    &.enlarged {
				    		width: auto !important;
				    	}
						&:first-child(){
							margin-top: 25px;
						}
						&:not(:first-child) {
							margin-left: auto;
						}
						&:nth-child(odd) {
							div.time-content {
								transform: none;
							}
						}
						&:nth-child(odd) div.time-content::before, 
						&:nth-child(even) div.time-content::before {
							left: 50%;
							top: 100%;
							transform: translateX(-50%);
							border: none;
							border-left: 1px solid black;
							height: 25px;
						}
						&:last-child,
						&:nth-last-child(2) div.time-content::before,
						&:not(:last-child)::after {
							display: none;
						}
						div.time-content {
							width: 94%;
							height: auto !important;
							margin: 0 auto 25px;
							border: 1px solid black;
							position: static;
						}
					}
					&.opened-btm {
						padding-bottom: 0px;
				  	}
					&.opened-top {
					  	padding-top: 0px;
					}
				}
				.arrows {
					display: none;
				}
			}
		}
		.wrapup {
			width: 550px;
			margin: auto;
			padding: 25px;
			max-width: 100%;
			h5 {
				font-size: 2.5em;
				color: $green;
				text-align: center;
				margin-bottom: 10px;
			}
			div.box {
			  // Hide superfluous border
			  	overflow: hidden;
			  	background-color: white;
			}
			ul {
			  	display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-flex-wrap: wrap;
			        -ms-flex-wrap: wrap;
			            flex-wrap: wrap;
			  
			  	// Hide superfluous border
			  	margin: 0 -4px -4px 0;
			  
			  	list-style: none;
			  	padding: 0;
			  	li {
					-webkit-box-flex: 1;
					-moz-box-flex: 1;
				    -webkit-flex: 1 0 100px;
				        -ms-flex: 1 0 100px;
				            flex: 1 0 100px;
					border-right: 1px solid #d2d2d2;
					border-bottom: 1px solid #d2d2d2;
					background-color: white;
					padding: 5px 5px 3px;
					width: 0;
					text-align: center;
					color: rgba(0,0,0,0.5);

					&:empty {
						height: 0;
						border: none;
					};

					p.counter {
						text-transform: uppercase;
						font-size: 2.3em;
						font-weight: 700;
						line-height: 1.2;
						margin-bottom: 5px;
						display: inline-block;
						font-family: $font-heading
					}
					p {
						font-size: 0.6em;
						line-height: 0.9;
						&.small {
							font-size: 0.6em;
							line-height: 0.9;
							margin-top: -12px;
    						margin-bottom: 6px;
						}
					}
				}
			}

			*,
			:before,
			:after {
			  	box-sizing: border-box;
			}
		}
	}
	font-size: 16px;
	@include breakpoint(laptop) {
		font-size: 15px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
	}
	@include breakpoint(phone) {
		font-size: 14px;
	}
	#intro {
		padding-top: 35px;
		// padding-bottom: 100px;
		@include breakpoint(laptop) {
			padding-top: 25px;
			// padding-bottom: 40px;
		}
		@include breakpoint(tablet) {
			padding-top: 25px;
			// padding-bottom: 40px;
		}
		@include breakpoint(phone) {
			padding-top: 25px;
			// padding-bottom: 40px;
		}
		p {
			margin-bottom: 30px;
			font-size: 1.250em;
			line-height: 1.5;
			color:$black;
			font-family: $font-main;
			font-weight: 700;
			font-style: italic;
			@include breakpoint(laptop) {
				margin-bottom: 50px;
			}
			@include breakpoint(tablet) {
				margin-bottom: 50px;
			}
			@include breakpoint(phone) {
				margin-bottom: 40px;
			}
		}
	}
	#history {
		h6 {
			font-size: 1.063em;
			color:$black;
			font-family: $font-main;
			font-weight: 700;
			margin: 25px 0px
		}
		h5 {
			font-size: 1.5em;
			color:$black;
			font-family: $font-main;
			font-weight: 700;
			text-align: center;
			margin-bottom: 35px;
			color: white;
			background-color: #393939;
			line-height: 3em;
			@include breakpoint(phone) {
				line-height: 1.5;
				background-color: white;
				color: black;
			}
		}
		p {
			line-height: 1.5;
    		font-size: 1.063em;
			margin-bottom: 25px;
		}
	}
}

#featured-header-image  {
	img {
		width: 100%;
		@include breakpoint(laptop) {
			height: 400px;
			object-fit: cover;
		}
		@include breakpoint(phone) {
			height: 200px;
			object-fit: cover;
		}
	}
}

/*=====  End of History Page  ======*/

/*================================
=            Listing             =
================================*/

#team-listing {
	font-size: 16px;
	@include breakpoint(tablet) {
		font-size: 14px;
	}
	.row {
		padding: 20px 0px;
		&.even {
			position: relative;
		}
		&:not(.even) {
			.content {
				padding-left: 7%;
				@include breakpoint(phone) {
					padding-left: 15px;
				}
			}
		}
		.content {
			@include breakpoint(phone) {
				padding: 20px 15px;
			}
			h5 {
				font-size: 1.063em;
				color:$black;
				font-family: $font-main;
				font-weight: 700;
				margin-bottom: 10px;
				line-height: 1.5;
			}
			p {
				line-height: 1.5;
				font-size: 1.063em;
			}
		}
		.image-holder {
			img {
				max-width: 107%;
				@include breakpoint(phone) {
					max-width: 100%;
				}
			}
		}
		.col-sm-pull-6 {
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex; /* or inline-flex */
		  -webkit-box-orient: horizontal;
		  -webkit-box-direction: normal;
		  -webkit-flex-flow: row nowrap;
		      -ms-flex-flow: row nowrap;
		          flex-flow: row nowrap; /* is default: columns along the main-axis (row) and no wrapping to next lines */
		  -webkit-box-align: end;
		  -webkit-align-items: flex-end;
		      -ms-flex-align: end;
		          align-items: flex-end; /* bottom */
			&.content {
				padding-right: 7%;
				@include breakpoint(phone) {
					padding-right: 15px
				}
			}
		}
		.col-sm-push-6 {
			img {
				margin-left: -7%;
				@include breakpoint(phone) {
					margin-left: 0;
				}
			}
		}
	}
		
}
#partner-listing {
	p.header {
		font-size: 1.2em;
		color:$black;
		font-family: $font-main;
		font-weight: 700;
		text-align: center;
		margin-bottom: 35px;
		color: white;
		background-color: #393939;
		line-height: 1.6em;
		padding: 0.7em;
		margin-top: 35px;
		@include breakpoint(phone) {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	.row {
		border-bottom: 1px solid #d2d2d2;
		.logo {
			.holder {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				text-align: center;
				margin: auto;
				@include breakpoint(phone) {
					position: relative;
					top: inherit;
					left: inherit;
					transform: inherit;
					width: 100%;
				}
				img {
					width: 100%;
					@include breakpoint(phone) {
						width: 70%;
					}
				}
			}
		}
		.col-sm-6 {
			padding: 40px;
			@include breakpoint(phone) {
				padding: 0 15px;
				margin-bottom: 20px;
			}
			p.title {
				font-family: $font-main;
				font-weight: 700;
				margin: 20px 0 10px;
				i {
					margin-left: 20px;
					color: black;
				}
			}
			p.desc {
				line-height: 1.5;
    			font-size: 1em;
			}
			&.logo {
				.holder {
					@include breakpoint(phone) {
						padding: 30px 0 10px;
					}
					img {
						&.frits-history {
							width: 80%; 
							margin-top: 30px;
							@include breakpoint(phone) {
								margin-top: 0;
							}
						}
					}
					&.blanchette {
						width: 80%;
						@include breakpoint(phone) {
							width: 95%;
						}
					}
					&.chocfrits {
						img {
							@include breakpoint(phone) {
								width: 44%;
								&:nth-child(1) {
									padding-right: 5%;
								}
								&:nth-child(2) {
									padding-left: 5%;
								}
							}
						}
					}
					&.shaker {
						@include breakpoint(phone) {
							padding: 0;
							margin-bottom: -20px;
						}
					}
					&.grenouille {
						img {
							@include breakpoint(phone) {
								width: 55%;
							}
						}
					}
				}
			}
		}
		.col-sm-6.match-big {
			div {
				margin-bottom: 40px;
				@include breakpoint(phone) {
					margin-bottom: 0
				}
			}
			&.people {
				div:nth-child(1) {
					@include breakpoint(phone) {
						margin-bottom: 20px;
					}
				}
			}
			&.logo {
				.holder {
					img {
						width: 60%;
						margin-top: 20px;
						@include breakpoint(phone) {
							width: 44%;
							display: inline;
							margin: 0;
							&:nth-child(1) {
								padding-right: 5%;
								margin-bottom: -5.6%;
							}
							&:nth-child(2) {
								padding-left: 7%;
								padding-right: 5%;
							}
						}
					}
				}
			}
		}
	}
}


/*=====  End of Listing   ======*/
