/*====================================
=            Video Holder            =
====================================*/

#mas-header {
	background:#000;
	background-size:cover;
	font-size: 16px;
	position: relative;
	padding-top: 114px;
	overflow: hidden;
	@include small-lap {
		padding-top: 95px;
	}
	@include breakpoint(laptop) {
		padding-top: 95px;
	}
	@include breakpoint(tablet) {
		padding-top: 95px;
	}
	@include breakpoint(phone) {
		padding-top: 100px;
	}
	.overlay {
		@extend .dark-overlay;
		background:rgba(29,31,41,0.2);
		z-index: 10;
	}	
	/* logos */
	#logos-holder {
		position: absolute;
		bottom: 10px;
		width: 96%;
		@include centre(x);
		z-index: 20;
		@include small-lap {
			bottom: 10px;
		}
		@include breakpoint(laptop) {
			bottom: 10px;
		}
		@include breakpoint(tablet) {
			bottom: 10px;
		}
		@include breakpoint(phone) {
			bottom:0;
			width: 100%;
			display: none;
		}
		#logos-slider {
			opacity: 0;
			-webkit-transition: 0.5s opacity;
			-moz-transition: 0.5s opacity;
			-ms-transition: 0.5s opacity;
			-o-transition: 0.5s opacity;
			transition: 0.5s opacity;
			@include breakpoint(desktop-lg) {
				height: 225px;
			}
			@include breakpoint(laptop) {
				height: 150px;
			}
			@include breakpoint(tablet) {
				height: 150px;
			}
			@include breakpoint(phone) {
				height: 150px;
			}
			&.slick-initialized {
				opacity: 1;
			}
			.item {
				.logo-box {
					position: relative;
					height: 175px;
					max-height: 100%;
					@include breakpoint(desktop-lg) {
						height: 225px;
					}
					@include breakpoint(laptop) {
						height: 150px;
					}
					@include breakpoint(tablet) {
						height: 150px;
					}
					@include breakpoint(phone) {
						height: 150px;
					}
					img {
						@include centre(both);
						max-width: 80%;
						max-height: 90%;
					}
					a  {
						&#vapo {
							img {
								max-width: 90%;
								max-height: 100%;
							}
						}
						&#tartar {
							img {
								max-width: 60%;
								max-height: 70%;
							}
						}
					}
				}
			}
		}
	}
}

/*=====  End of Video Holder  ======*/

/*=============================
=            Video            =
=============================*/

.video-holder {
	width:100%;
	height:100%;
	z-index:1;	
	// @include small-lap {
	// 	height: 620px;
	// }
	// @include breakpoint(laptop) {
	// 	height: 600px;
	// }
	// @include breakpoint(phone) {
	// 	height: 450px;
	// }
}

/*=====  End of Video  ======*/

/*===================================
=            About Block            =
===================================*/

#about-block {
	height:500px;
	font-size: 16px;
	background:$dark;
	color:$white;
	@include small-lap {
		font-size: 15px;
		height: 450px;
	}
	@include breakpoint(laptop) {
		font-size: 14px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
		height: auto;
	}
	@include breakpoint(phone) {
		font-size: 14px;
		height: auto;
	}
	.container {
		position: relative;
		height: 100%;
		@include breakpoint(tablet) {
			width: 100%;
			height: auto;
			float: none;
		}
		@include breakpoint(phone) {
			width: 100%;
			height: auto;
			float: none;
		}
		.content {
			@include centre(both);
			text-align: center;
			padding: 60px;
			width: 100%;
			@include breakpoint(laptop) {
				padding:40px;
			}
			@include breakpoint(tablet) {
				@include clear-pos;
				padding: 50px;
				max-width: 100%;
			}
			@include breakpoint(phone) {
				@include clear-pos;
				padding: 15px;
				max-width: 100%;
				padding-top: 30px;
				padding-bottom: 30px;
			}
			h1 {
				margin-bottom: 15px;
				text-transform: uppercase;
				font-size: 2.6em;
			}
			p {
				font-size: 1.063em;
				margin-top: 25px;
				line-height: 1.5;
				&:last-child {
					margin-top: 35px;
				}
			}
			a {
				background: black;
			    padding: 12px 20px;
			    color: white;
			    border-radius: 5px;
			}
		}
	}
	.image-holder {
		float: right;
		width: 50%;
		height: 100%;
		&.premier {
			float: left;
			@include breakpoint(tablet) {
				float: none;
			}
			@include breakpoint(phone) {
				float: none;
			}
		}
		@include breakpoint(tablet) {
			height: 400px;
			width: 100%;
			float: none;
		}
		@include breakpoint(phone) {
			height: 300px;
			width: 100%;
			float: none;
		}
		img:not(.logo-hover) {
			width: 100%;
			height: 500px;
			object-fit: cover;
			@include small-lap {
				height: 450px;
			}
			@include breakpoint(tablet) {
				height: 400px;
			}
			@include breakpoint(phone) {
				height: 300px;
			}
		}
	}
}

/*=====  End of About Block  ======*/

/*=========================================
=            Masonry Franchise            =
=========================================*/

#masonry-franchise {
	.col-md-4 {
		height: 500px;
		@include breakpoint(tablet) {
			height: 400px;
		}
		@include breakpoint(phone) {
			height: 300px;
		}
	}
	.first-gallery-row {
		height: 400px;
		@include small-lap {
			height: 350px;
		}
		@include breakpoint(laptop) {
			height: 300px;
		}
		@include breakpoint(tablet) {
			height: 350px;
		}
		@include breakpoint(phone) {
			height: 300px;
		}
		img.img-responsive {
			height: 400px;
			object-fit: cover;
			width: 100%;
			@include small-lap {
				height: 350px;
			}
			@include breakpoint(laptop) {
				height: 300px;
			}
			@include breakpoint(tablet) {
				height: 350px;
			}
			@include breakpoint(phone) {
				height: 300px;
			}
		}
	}
	.sec-gallery-row {
		height: 550px;
		@include small-lap {
			height: 500px;
		}
		@include breakpoint(laptop) {
			height: 450px;
		}
		@include breakpoint(tablet) {
			height: 350px;
		}
		@include breakpoint(phone) {
			height: 300px;
		}
		img.img-responsive {
			height: 550px;
			object-fit: cover;
			width: 100%;
			@include small-lap {
				height: 500px;
			}
			@include breakpoint(laptop) {
				height: 450px;
			}
			@include breakpoint(tablet) {
				height: 350px;
			}
			@include breakpoint(phone) {
				height: 300px;
			}
		}		
	}
	img {
		width: 100%;
		object-fit: cover;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		.caption {
			text-align: center;
			z-index: 50;
			width: 75px;
			position: absolute;
			left: 20px;
			bottom: 20px;
			@include breakpoint(phone) {
				display: none;
			}
			img {
				max-width: 270px;
				opacity: 0;
				@include small-lap {
					max-width: 220px;
				}
				@include breakpoint(laptop) {
					max-width: 200px;
				}
				@include breakpoint(tablet) {
					max-width: 200px;
				}
				@include breakpoint(phone) {
					max-width: 200px;
				}
			}
		}
		&:hover {
			.caption {
				img {
					opacity: 1;
				}
			}
		}
		.mosaic-slider {
			div {
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				height: 500px;
				@include breakpoint(tablet) {
					height: 400px;
				}
				@include breakpoint(phone) {
					height: 300px;
				}
			}
		}
	}
}

/*=====  End of Masonry Franchise  ======*/

/*=======================================
=            Frnachise Block            =
=======================================*/

#franchise-logos {
	font-size: 16px;
	background:$white;
	padding-top: 70px;
	padding-bottom: 35px;
	@include small-lap {
		font-size: 15px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
	}
	@include breakpoint(laptop) {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	@include breakpoint(phone) {
		font-size: 15px;
		padding-top: 40px;
	}
	.row {
		.col-md-4 {
			&:nth-child(3n+3) {
				.franchise-box {
					border-right:none;
				}
			}
			&:nth-last-child(-n+3) {
				.franchise-box {
					@include breakpoint(laptop) {
						border-bottom:none;
					}
					@include breakpoint(desktop) {
						border-bottom:none;
					}
					@include breakpoint(desktop-lg) {
						border-bottom:none;
					}
				}
			}
			&:last-child {
				.franchise-box {
					@include breakpoint(tablet) {
						border:none;
					}
					@include breakpoint(phone) {
						border:none;
					}
				}
			}
		}
	}
	.franchise-box {
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		min-height: 630px;
		border-right:1px solid #c1c1c1;
		border-bottom:1px solid #c1c1c1;
		@include breakpoint(tablet) {
			min-height: auto;
			padding-bottom: 30px;
			border-right:none;
		}
		@include breakpoint(laptop) {
			padding-bottom: 30px;
		}
		@include breakpoint(phone) {
			min-height: auto;
			padding-bottom: 30px;
			border-right:none;
		}
		header {
			height: 210px;
			position: relative;
			@include breakpoint(phone) {
				height: 140px;
			}
			&.en {
				@include breakpoint(phone) {
					height: 165px;
				}
			}
			h3, h2 {
				font-size: 2.3em;
				color:$black;
				text-transform: uppercase;
				@include centre(x);
				bottom:30px;
			}
		}
		.image-holder {
			height: 210px;
			position: relative;
			&.thinlogo {
				@include breakpoint(phone) {
					height: 150px;
				}
			}
			&.mediumlogo {
				@include breakpoint(phone) {
					height: 195px;
				}
			}
			&.shakermarg {
				@include breakpoint(phone) {
					margin-top: -30px;
				}
			}
			img {
				@include centre(both);
				max-height: 150px;
				width: 70%;
				&.fritz {
					max-height: 130px;
				}
				&.planete {
					max-height: 170px;
				}
			}
		}
		p {
			font-size: 1.000em;
			line-height: 1.5;
			color:$black;
			display: inline;
		}
		h3 {
			font-family: $font-main;
			font-weight: 700;
		    display: inline;
		    font-size: 1.1em;
		}
		footer {
			text-align: center;
			padding-top: 50px;
			small {
				display: block;
				font-size: 1.125em;
				color:#8e8e8e;
				strong {
					font-family: $font-main;
					font-weight: 700;
					color:$black;
					@include breakpoint(phone) {
						display: block;
						margin-bottom: 10px;
					}
				}
			}
			a {
				display: inline-block;
				margin-top: 50px;
				width: 166px;
				text-align: center;
				height: 50px;
				line-height: 48px;
				border-radius:999px;
				border:2px solid $black;
				font-size: 0.875em;
				color:$black;
				font-family: $font-main;
				font-weight: 700;
				&:hover {
					background:$black;
					color:$white;
				}
			}
			&.different-box {
				a {
					margin-top: 50px;
					@include breakpoint(phone) {
						margin-top: 0;
					}
				}
			}
		}
	}
}
img.tartar-logo {
	width: 50%;
}

.thank-page {
	text-align: center;
	p {
		font-family: $font-main;
		font-size: 1.063em;
		line-height: 1.5;
		text-align: left;
	}
	a.btn {
		padding: 20px;
	    border: 2px solid black;
	    color: black;
	    margin-top: 30px;
	    display: inline-block;
	    border-radius: 5px;
	    -webkit-transition: 0.4s background-color;
	    -moz-transition: 0.4s background-color;
	    -ms-transition: 0.4s background-color;
	    -o-transition: 0.4s background-color;
	    transition: 0.4s background-color;
	    text-transform: uppercase;
	    font-family: $font-main;
	    font-weight: 700;
	    margin-right: 30px;
	    &:hover {
	    	background-color: $green;
	    	color: white;
	    	border-color: $green;
	    }
	}
}
/*=====  End of Frnachise Block  ======*/
