/*====================================
=            Video Holder            =
====================================*/

#mas-header {
	background:#000;
	background-size:cover;
	font-size: 16px;
	position: relative;
	padding-top: 114px;
	overflow: hidden;
	@include small-lap {
		padding-top: 95px;
	}
	@include breakpoint(laptop) {
		padding-top: 95px;
	}
	@include breakpoint(tablet) {
		padding-top: 95px;
	}
	@include breakpoint(phone) {
		padding-top: 100px;
	}
	.overlay {
		@extend .dark-overlay;
		background:rgba(29,31,41,0.2);
		z-index: 10;
	}	
	/* logos */
	#logos-holder {
		position: absolute;
		bottom: 10px;
		width: 96%;
		@include centre(x);
		z-index: 20;
		@include small-lap {
			bottom: 10px;
		}
		@include breakpoint(laptop) {
			bottom: 10px;
		}
		@include breakpoint(tablet) {
			bottom: 10px;
		}
		@include breakpoint(phone) {
			bottom:0;
			width: 100%;
			display: none;
		}
		@media only screen and (min-width : 2200px) {
			bottom: 50px;
		}
		#logos-slider {
			opacity: 0;
			-webkit-transition: 0.5s opacity;
			-moz-transition: 0.5s opacity;
			-ms-transition: 0.5s opacity;
			-o-transition: 0.5s opacity;
			transition: 0.5s opacity;
			height: 125px;
			// @include breakpoint(desktop-lg) {
			// 	height: 225px;
			// }
			// @include breakpoint(laptop) {
			// 	height: 150px;
			// }
			// @include breakpoint(tablet) {
			// 	height: 150px;
			// }
			// @include breakpoint(phone) {
			// 	height: 150px;
			// }
			&.slick-initialized {
				opacity: 1;
			}
			.item {
				.logo-box {
					position: relative;
					height: 125px;
					max-height: 100%;
					// @include breakpoint(desktop-lg) {
					// 	height: 225px;
					// }
					// @include breakpoint(laptop) {
					// 	height: 150px;
					// }
					// @include breakpoint(tablet) {
					// 	height: 150px;
					// }
					// @include breakpoint(phone) {
					// 	height: 150px;
					// }
					img {
						@include centre(both);
						max-width: 60%;
						max-height: 72px;
						@media only screen and (min-width : 2200px) {
							max-height: 110px;
						}
					}
					a  {
						&#vapo, &#planete {
							img {
								max-height: 90px;
								@media only screen and (min-width : 2200px) {
									max-height: 130px;
								}
							}
						}
						&#tartar {
							img {
								max-height: 65px;
								@include breakpoint(laptop) {
									max-height: 60px;
								}
								@media only screen and (min-width : 2200px) {
									max-height: 90px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/*=====  End of Video Holder  ======*/

/*=============================
=            Video            =
=============================*/

.video-holder {
	width:100%;
	height:100%;
	z-index:1;	
	// @include small-lap {
	// 	height: 620px;
	// }
	// @include breakpoint(laptop) {
	// 	height: 600px;
	// }
	// @include breakpoint(phone) {
	// 	height: 450px;
	// }
}

/*=====  End of Video  ======*/

/*===================================
=            About Block            =
===================================*/

#about-block {
	height:auto;
	font-size: 16px;
	background:$dark;
	color:$white;
	@include small-lap {
		font-size: 15px;
		height: auto;
	}
	@include breakpoint(laptop) {
		font-size: 14px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
		height: auto;
	}
	@include breakpoint(phone) {
		font-size: 14px;
		height: auto;
	}
	.container {
		position: relative;
		height: 350px;
		@include breakpoint(tablet) {
			width: 100%;
			height: auto;
			float: none;
		}
		@include breakpoint(phone) {
			width: 100%;
			height: auto;
			float: none;
		}
		.content {
			@include centre(both);
			text-align: center;
			padding: 60px;
			width: 100%;
			@include breakpoint(laptop) {
				padding:40px;
			}
			@include breakpoint(tablet) {
				@include clear-pos;
				padding: 50px;
				max-width: 100%;
			}
			@include breakpoint(phone) {
				@include clear-pos;
				padding: 15px;
				max-width: 100%;
				padding-top: 30px;
				padding-bottom: 30px;
			}
			h1 {
				margin-bottom: 15px;
				text-transform: uppercase;
				font-size: 2.6em;
			}
			p {
				font-size: 1.063em;
				margin-top: 25px;
				line-height: 1.5;
				&:last-child {
					margin-top: 35px;
				}
			}
			a {
				background: black;
			    padding: 12px 20px;
			    color: white;
			    border-radius: 5px;
			}
		}
	}
	.image-holder {
		float: right;
		width: 50%;
		height: 100%;
		&.premier {
			float: left;
			@include breakpoint(tablet) {
				float: none;
			}
			@include breakpoint(phone) {
				float: none;
			}
		}
		@include breakpoint(tablet) {
			height: 57.2vw;
			width: 100%;
			float: none;
		}
		@include breakpoint(phone) {
			height: 57.2vw;
			width: 100%;
			float: none;
		}
		img:not(.logo-hover) {
			width: 100%;
			height: 28.6vw;
			object-fit: cover;
			@include small-lap {
				height: 28.6vw;
			}
			@include breakpoint(tablet) {
				height: 57.2vw;
			}
			@include breakpoint(phone) {
				height: 57.2vw;
			}
		}
	}
}

/*=====  End of About Block  ======*/

/*=========================================
=            Masonry Franchise            =
=========================================*/

#masonry-franchise {
	.col-md-4 {
		height: 30.3vw;
		@include breakpoint(tablet) {
			height: 46vw;
		}
		@include breakpoint(phone) {
			height: 91.9vw;
		}
	}
	// .first-gallery-row {
	// 	height: 400px;
	// 	@include small-lap {
	// 		height: 350px;
	// 	}
	// 	@include breakpoint(laptop) {
	// 		height: 300px;
	// 	}
	// 	@include breakpoint(tablet) {
	// 		height: 350px;
	// 	}
	// 	@include breakpoint(phone) {
	// 		height: 300px;
	// 	}
	// 	img.img-responsive {
	// 		height: 400px;
	// 		object-fit: cover;
	// 		width: 100%;
	// 		@include small-lap {
	// 			height: 350px;
	// 		}
	// 		@include breakpoint(laptop) {
	// 			height: 300px;
	// 		}
	// 		@include breakpoint(tablet) {
	// 			height: 350px;
	// 		}
	// 		@include breakpoint(phone) {
	// 			height: 300px;
	// 		}
	// 	}
	// }
	// .sec-gallery-row {
	// 	height: 30.3vw;
	// 	@include small-lap {
	// 		height: 30.3vw;
	// 	}
	// 	@include breakpoint(laptop) {
	// 		height: 30.3vw;
	// 	}
	// 	@include breakpoint(tablet) {
	// 		height: 46vw;
	// 	}
	// 	@include breakpoint(phone) {
	// 		height: 91.9vw;
	// 	}
	// 	img.img-responsive {
	// 		height: 30.3vw;
	// 		object-fit: cover;
	// 		width: 100%;
	// 		@include small-lap {
	// 			height: 30.3vw;
	// 		}
	// 		@include breakpoint(laptop) {
	// 			height: 30.3vw;
	// 		}
	// 		@include breakpoint(tablet) {
	// 			height: 46vw;
	// 		}
	// 		@include breakpoint(phone) {
	// 			height: 91.9vw;
	// 		}
	// 	}		
	// }
	img {
		width: 100%;
		object-fit: cover;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		.caption {
			text-align: center;
			z-index: 50;
			width: 75px;
			position: absolute;
			left: 20px;
			bottom: 20px;
			display: none;
			@include breakpoint(phone) {
				display: none;
			}
			img {
				max-width: 270px;
				opacity: 0;
				@include small-lap {
					max-width: 220px;
				}
				@include breakpoint(laptop) {
					max-width: 200px;
				}
				@include breakpoint(tablet) {
					max-width: 200px;
				}
				@include breakpoint(phone) {
					max-width: 200px;
				}
			}
		}
		&:hover {
			.caption {
				img {
					opacity: 1;
				}
			}
		}
		.mosaic-slider {
			div {
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				height: 30.3vw;
				@include breakpoint(tablet) {
					height: 46vw;
				}
				@include breakpoint(phone) {
					height: 91.9vw;
				}
			}
		}
	}
	&.half-masonry {
		.mosaic-slider {
			div {
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				height: 28.6vw;
				@include breakpoint(tablet) {
					height: 57.2vw;
				}
				@include breakpoint(phone) {
					height: 57.2vw;
				}
			}
		}
	}
}

/*=====  End of Masonry Franchise  ======*/

/*=======================================
=            Frnachise Block            =
=======================================*/

#franchise-logos {
	font-size: 16px;
	background:$white;
	padding-top: 70px;
	padding-bottom: 35px;
	@include small-lap {
		font-size: 15px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
	}
	@include breakpoint(laptop) {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	@include breakpoint(phone) {
		font-size: 15px;
		padding-top: 40px;
	}
	.row {
		.col-md-4 {
			&:nth-child(3n+3) {
				.franchise-box {
					border-right:none;
				}
			}
			&:nth-last-child(-n+3) {
				.franchise-box {
					@include breakpoint(laptop) {
						border-bottom:none;
					}
					@include breakpoint(desktop) {
						border-bottom:none;
					}
					@include breakpoint(desktop-lg) {
						border-bottom:none;
					}
				}
			}
			&:last-child {
				.franchise-box {
					@include breakpoint(tablet) {
						border:none;
					}
					@include breakpoint(phone) {
						border:none;
					}
				}
			}
		}
	}
	.franchise-box {
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		min-height: 630px;
		border-right:1px solid #c1c1c1;
		border-bottom:1px solid #c1c1c1;
		@include breakpoint(tablet) {
			min-height: auto;
			padding-bottom: 30px;
			border-right:none;
		}
		@include breakpoint(laptop) {
			padding-bottom: 30px;
		}
		@include breakpoint(phone) {
			min-height: auto;
			padding-bottom: 30px;
			border-right:none;
		}
		header {
			height: 210px;
			position: relative;
			@include breakpoint(phone) {
				height: 140px;
			}
			&.en {
				@include breakpoint(phone) {
					height: 165px;
				}
			}
			h3, h2 {
				font-size: 2.3em;
				color:$black;
				text-transform: uppercase;
				@include centre(x);
				bottom:30px;
			}
		}
		.image-holder {
			height: 210px;
			position: relative;
			&.thinlogo {
				@include breakpoint(phone) {
					height: 150px;
				}
			}
			&.mediumlogo {
				@include breakpoint(phone) {
					height: 195px;
				}
			}
			&.shakermarg {
				@include breakpoint(phone) {
					margin-top: -30px;
				}
			}
			img {
				@include centre(both);
				max-height: 150px;
				width: 70%;
				&.fritz {
					max-height: 130px;
				}
				&.planete {
					max-height: 170px;
				}
			}
		}
		p {
			font-size: 1.000em;
			line-height: 1.5;
			color:$black;
			display: inline;
		}
		h3 {
			font-family: $font-main;
			font-weight: 700;
		    display: inline;
		    font-size: 1.1em;
		}
		footer {
			text-align: center;
			padding-top: 50px;
			small {
				display: block;
				font-size: 1.125em;
				color:#8e8e8e;
				strong {
					font-family: $font-main;
					font-weight: 700;
					color:$black;
					@include breakpoint(phone) {
						display: block;
						margin-bottom: 10px;
					}
				}
			}
			a {
				display: inline-block;
				margin-top: 50px;
				width: 166px;
				text-align: center;
				height: 50px;
				line-height: 48px;
				border-radius:999px;
				border:2px solid $black;
				font-size: 0.875em;
				color:$black;
				font-family: $font-main;
				font-weight: 700;
				&:hover {
					background:$black;
					color:$white;
				}
			}
			&.different-box {
				a {
					margin-top: 50px;
					@include breakpoint(phone) {
						margin-top: 0;
					}
				}
			}
			.tooltip {
			    position: relative;
			    display: inline-block;
			    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
			    @include breakpoint(phone) {
			    	border-bottom: none;
			    	display: block;
			    }
			    /* Tooltip text */
				.tooltiptext {
				    visibility: hidden;
				    width: 40vw;
				    background-color: white;
				    color: black;
				    text-align: center;
				    padding: 15px;
				    border: 1px solid black;
				 
				    /* Position the tooltip text - see examples below! */
				    position: absolute;
				    z-index: 5;
				    bottom: 160%;
				    left: 50%; 
				    margin-left: -20vw; /* Use half of the width (120/2 = 60), to center the tooltip */
				    @include breakpoint(phone) {
				    	display: none !important;
				    }
				    @include breakpoint(desktop-lg) {
				    	width: 30vw;
				    	margin-left: -15vw;
				    }
				    &:before {
					    content: " ";
					    position: absolute;
					    top: 100%; /* At the bottom of the tooltip */
					    left: 50%;
					    margin-left: -5px;
					    border-width: 5px;
					    border-style: solid;
					    border-color: black transparent transparent transparent;
					}
				    &:after {
				    	content: " ";
					    position: absolute;
					    top: 100%; /* At the bottom of the tooltip */
					    left: 50%;
					    margin-top: -1px;
					    margin-left: -5px;
					    border-width: 5px;
					    border-style: solid;
					    border-color: white transparent transparent transparent;  
					}
					&.unique {
						width: 185px;
						margin-left: -92.5px;
					}
					div.box {
					  // Hide superfluous border
					  	overflow: hidden;
					  	background-color: white;
					}
					ul {
					  	display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-flex-wrap: wrap;
					        -ms-flex-wrap: wrap;
					            flex-wrap: wrap;
					  
					  	// Hide superfluous border
					  	margin: 0 -4px -4px 0;
					  
					  	list-style: none;
					  	padding: 0;
					  	li {
							-webkit-box-flex: 1;
						    -webkit-flex: 1 0 125px;
						        -ms-flex: 1 0 125px;
						            flex: 1 0 125px;
							border-right: 1px solid #d2d2d2;
							border-bottom: 1px solid #d2d2d2;
							background-color: white;
							padding: 15px;
							width: 0;

							&:empty {
							height: 0;
							border: none;
							};

							strong {
								text-transform: uppercase;
							}
						}
					}

					*,
					:before,
					:after {
					  	box-sizing: border-box;
					}
				}
			}
			&:hover {
				.tooltip {
					.tooltiptext {
					    visibility: visible;
					}
				}
			}
		}
	}
}
img.tartar-logo {
	width: 50%;
}

.thank-page {
	text-align: center;
	p {
		font-family: $font-main;
		font-size: 1.063em;
		line-height: 1.5;
		text-align: left;
	}
	a.btn {
		padding: 20px;
	    border: 2px solid black;
	    color: black;
	    margin-top: 30px;
	    display: inline-block;
	    border-radius: 5px;
	    -webkit-transition: 0.4s background-color;
	    -moz-transition: 0.4s background-color;
	    -ms-transition: 0.4s background-color;
	    -o-transition: 0.4s background-color;
	    transition: 0.4s background-color;
	    text-transform: uppercase;
	    font-family: $font-main;
	    font-weight: 700;
	    margin-right: 30px;
	    &:hover {
	    	background-color: $green;
	    	color: white;
	    	border-color: $green;
	    }
	}
}



/*=====  End of Frnachise Block  ======*/
